<div class="modal fade" id="discussion-modal" tabindex="-1" role="dialog" aria-labelledby="discussion-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Cancel') }}</span></button>
                <h4 class="modal-title" id="discussion-modal-label">{{ _('Remarks') }}</h4>
            </div>
            <div id="discussion-body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>
