{% extends 'base.html' %}
{% load pipeline %}

{% block extra_css %}
    {% stylesheet "charts" %}
{% endblock extra_css %}

{% block content %}

    <div id="js_chart_by_month" class="chart linechart">
    </div>
    <div id="js_chart_by_rc" class="chart">
    </div>
    <table width="100%">
        <tr>
            <td>
                <div id="js_chart_by_status" class="chart chart-cell-left">
                </div>
            </td>
            <td>
                <div id="js_chart_by_revs" class="chart chart-cell-right">
                </div>
            </td>
        </tr>
    </table>
    <div id="js_chart_by_reviews" class="chart linechart">
    </div>
    <table width="100%">
        <tr>
            <td>
                <div id="js_chart_under_review" class="chart chart-cell-left">
                </div>
            </td>
            <td>
                <div id="js_chart_with_overdue_review" class="chart chart-cell-right">
                </div>
            </td>
        </tr>
    </table>


{% endblock %}
{% block extra_js %}
    {% javascript "reporting" %}

    <script>
        $(function () {
            var byStatus = {{ by_status|safe }};
            makePie(byStatus, '#js_chart_by_status', "Number of documents by status", "Status");

            var byRc = {{ by_rc|safe }};
            makeBarChart(byRc, '#js_chart_by_rc', 'Number of documents by return code', "RC");

            var byRevs = {{ by_revs|safe }};
            makePie(byRevs, '#js_chart_by_revs', 'Number of documents by revision', "Revisions");

            var byMonth = {{ by_month|safe }};
            makeLineChart(byMonth, '#js_chart_by_month', 'Number of documents received by month');

            var byEndedReviews = {{ by_ended_reviews|safe }};
            makeLineChart(byEndedReviews, '#js_chart_by_reviews', 'Number of documents reviewed by month');

            var underReview = {{ under_review|safe }};
            makeBarChart(underReview, '#js_chart_under_review', 'Documents under review', 'Name');

            var overdueReview = {{ overdue_review|safe }};
            makeBarChart(overdueReview, '#js_chart_with_overdue_review', 'Documents overdue', 'Name');
        });
    </script>
{% endblock %}
