{% load getattribute %}

<table id="documents" class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th id="columnselect"></th>
            <th id="columnfavorite"></th>
            <th id="columndocument_number" data-sortby="document_number">Document Number <i class="icon-chevron-down"></i></th>
            <th id="columntitle" data-sortby="title">Title <i class=""></i></th>
            <th id="columncurrent_revision" data-sortby="current_revision">Rev. <i class=""></i></th>
            <th id="columncurrent_revision_date" data-sortby="current_revision_date">Rev. Date <i class=""></i></th>
            <th id="columnstatus" data-sortby="status">Status <i class=""></i></th>
        </tr>
    </thead>
    <tbody>
        {% for document in document_list %}
            <tr data-document-id="{{ document.pk }}" data-document-number="{{ document.document_number }}">
                <td class="columnselect"><input type="checkbox" /></td>
                <td class="columnfavorite">
                {% if document.pk in document2favorite %}
                    <i class="icon-star" data-favorite-id="{{ document2favorite|getattribute:document.pk }}" title="Remove from favorites"></i>
                {% else %}
                    <i class="icon-star-empty" data-favorite-id="" title="Add to favorites"></i>
                {% endif %}
                </td>
                <td>{{ document.document_number }}</td>
                <td class="columntitle">{{ document.title }}</td>
                <td>{{ document.current_revision }}</td>
                <td>{{ document.current_revision_date|date:"Y-m-d" }}</td>
                <td>{{ document.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if is_paginated %}
<div class="pagination text-center">
  <ul>
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next page</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
