{% load getattribute %}

<table id="documents" class="table table-condensed table-bordered table-hover">
    <thead id="titles">
        <tr>
            <th id="columnselect">Sel.</th>
            <th id="columnfavorite">Fav.</th>
            <th id="columndocument_number">Document Number</th>
            <th id="columntitle">Title</th>
            <th id="columncurrent_revision_date">Rev. Date</th>
            <th id="columncurrent_revision">Rev.</th>
            <th id="columnstatus">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for document in document_list %}
            <tr data-document-id="{{ document.document_id }}" data-document-number="{{ document.document_number }}">
                <td class="select"><input type="checkbox" /></td>
                <td class="favorite">
                {% if document.pk in document2favorite %}
                    <i class="icon-star" data-favorite-id="{{ document2favorite|getattribute:document.pk }}" title="Remove from favorites"></i>
                {% else %}
                    <i class="icon-star-empty" data-favorite-id="" title="Add to favorites"></i>
                {% endif %}
                </td>
                <td>{{ document.document_number }}</td>
                <td>{{ document.title }}</td>
                <td>{{ document.current_revision_date|date:"Y-m-d" }}</td>
                <td>{{ document.current_revision }}</td>
                <td>{{ document.status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
