<div class="form-group">

    <div class="controls">

        <label class="control-label">
            {{ _('Outgoing transmittals') }}
        </label>
        {% if transmittals %}
            <table class="table table-bordered">
                <thead>
                    <th>{{ _('Transmittal') }}</th>
                    <th>{{ _('Created date') }}</th>
                    <th>{{ _('Purpose of issue') }}</th>
                    <th>{{ _('External due date') }}</th>
                </thead>
                <tbody>
                {% for trs in transmittals %}
                    <tr>
                        <td>
                            <a href="{{ trs.get_absolute_url }}">
                                {{ trs }}
                            </a>
                        </td>
                        <td>{{ trs.document.created_on|date:'Y-m-d' }}</td>
                        <td>{{ trs.get_purpose_of_issue_display }}</td>
                        <td>{{ trs.external_review_due_date|date:'Y-m-d' }}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ _('There is no associated outgoing transmittal.') }}
        {% endif %}
        <hr>
    </div>
</div>
