<div class="form-group">

    <div class="controls">

        <label class="control-label">
            {{ _('Outgoing transmittals') }}
        </label>
        {% if transmittals %}
            {% for trs in transmittals %}
                <div>
                    <a href="{{ trs.get_absolute_url }}">
                        {{ trs }}
                    </a> ({{ trs.document.created_on|date:'Y-m-d' }})
                </div>
            {% endfor %}
        {% else %}
            {{ _('There is no associated outgoing transmittal.') }}
        {% endif %}
        <hr>
    </div>
</div>
