{% load review_form discussion humanize %}
<table class="table table-bordered reviewers">
    {% for review in reviews %}
    <tr class="{{ review.role }}">
        <td>{{ review.get_role_display }}</td>
        <td>{{ review.reviewer }}</td>
        <td>{{ review.get_status_display }}</td>
        <td class="center small">
            {% if review.return_code %}
            <span rel="tooltip"
                  data-toggle="tooltip"
                  title="{{ review.get_return_code_display }}">
                {{ review.return_code }}
            </span>
            {% endif %}
        </td>
        <td class="center small">
            {% if review.closed %}
            <span class="glyphicon glyphicon-time"
                  rel="tooltip"
                  data-toggle="tooltip"
                  title="{{ review.reviewed_on|default_if_none:'' }}">
            </span>
            {% endif %}
        </td>
        <td class="center">{% file_link review.comments 'Comments' %}</td>
    </tr>

    {% empty %}
        <tr><td colspan="5">{{ _('There is no distribution list associated to this document.') }}</td></tr>
    {% endfor %}
</table>

<div class="pull-right">
    <button id="remarks-button-{{ revision.revision }}"
            type="button"
            class="remarks-button btn btn-default"
            data-toggle="modal"
            data-apiurl="{% url 'note-list' document.document_key revision.revision %}"
            data-candiscuss="{{ can_discuss|yesno:"true,false" }}"
            href="#discussion-modal">
        {{ _('Remarks') }}
        {% discussion_length_badge revision %}
    </button>&nbsp;

    <a href="{% url 'download_review_comments' document.document_key revision.revision %}"
       class="btn btn-default"
       type="button">
        {{ _('Download all comments') }}
    </a>
</div>
