{% load review_form humanize %}

{% for review in reviews %}

{% ifchanged review.role %}
<table class="table table-bordered reviewers">
{% endifchanged %}
    <tr class="{{ review.role }}">
        <td>{{ review.get_role_display }}</td>
        <td>{{ review.reviewer }}</td>
        <td>{{ review.closed|yesno:_('Completed,Pending') }}</td>
        <td>
            {% if review.closed %}
            <span class="glyphicon glyphicon-time"
                  rel="tooltip"
                  data-toggle="tooltip"
                  title="{{ review.reviewed_on|default_if_none:'' }}">
            </span>
            {% endif %}
        </td>
        <td class="center">{% file_link review.comments 'Comments' %}</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'download_review_comments' document.document_key revision.revision %}"
   class="btn btn-default pull-right">
    {{ _('Download all comments') }}
</a>
