{% load widget_tweaks %}
{{ form.media }}

{% if form.non_field_errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors.0 }}
</div>
{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="form-group">

        <label for="{{ field.id }}" class="control-label">
            {{ field.label }}
        </label>
        {{ field|add_class:"form-control" }}

        {% if field.help_text %}
            <span class="help-block">({{ field.help_text }})</span>
        {% endif %}

        {% if field.errors %}
        <p class="alert alert-danger">
            <span class="glyphicon glyphicon-arrow-up"></span>
            {{ field.errors.0 }}
        </p>
        {% endif %}

    </div>
{% endfor %}
