<nav id="top" class="navbar main-navbar navbar-inverse navbar-static-top">
<div class="container">

    {% if user.is_authenticated %}

        <button class="btn btn-primary navbar-btn navbar-left"
                data-toggle="collapse"
                data-target="#sidebar-container"
                alt="{{ _('Menu') }}">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>

        {% include 'navbar_breadcrumb.html' %}

    {% endif %}

    {% if user.is_authenticated %}
        <p class="navbar-text navbar-right">
            Hello {{ user.get_full_name }}
        </p>

    {% endif %}

</div>
</nav>
