<nav id="top" class="navbar main-navbar navbar-inverse navbar-static-top">
<div class="container">

    <div class="navbar-header">
        <a class="navbar-brand" href="{% url "category_list" %}">Phase</a>
    </div>

    {% if user.is_authenticated %}

        <button class="btn btn-default navbar-btn navbar-left"
                data-toggle="collapse"
                data-target="#sidebar-container">
            Menu
        </button>

        {% if category %}
        <p class="navbar-text hidden-xs hidden-sm">
            <span class="glyphicon glyphicon-info-sign"></span>
            {{ category }}
        </p>
        {% endif %}

        <p class="navbar-text navbar-right">
            Hello {{ user.get_full_name }}
        </p>

    {% endif %}

</div>
</nav>
