<nav id="top" class="navbar main-navbar navbar-inverse navbar-static-top">
<div class="container">

    {% if user.is_authenticated %}

        <button class="btn btn-primary navbar-btn navbar-left"
                data-toggle="collapse"
                data-target="#left-sidebar-container"
                alt="{{ _('Menu') }}">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>

        {% include 'navbar_breadcrumb.html' %}

        <button type="button"
                id="notifications-button"
                class="btn btn-primary navbar-right navbar-btn last-button disabled"
                data-toggle="collapse"
                href="#right-sidebar-container">
            <span class="glyphicon glyphicon-bell"></span>
        </button>

        <p class="navbar-text navbar-right hidden-xs">
            Hello {{ user.get_full_name }}
        </p>

    {% endif %}

</div>
</nav>
