{% extends 'base.html' %}

{% block custombodyclass %}fullwidth{% endblock %}

{% block content %}
<div class="row wide-table-row">
    <div id="main-table" class="col-xs-12">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    {% for header in headers %}
                        <th>{{ header|date:"M Y" }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for bucket_name, bucket_data in buckets.items %}
            <tr>
                <th class="columntitle">{{ bucket_name }}</th>
                {% for value in bucket_data %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
