<li{% if dashboard_active %} class="active"{% endif %}>
    <a href="#nav-dashboards"
       id="dashboard-link"
       data-toggle="collapse"
       data-parent="#sidebar-nav">
        <span class="glyphicon glyphicon-dashboard"></span>
        Dashboards <b class="caret"></b>
    </a>

    <ul id="nav-dashboards" class="nav nav-stacked collapse">
        {% for organisation, title, url in user_dashboards %}
        {% ifchanged organisation %}
        <li class="disabled"><a href="#">{{ organisation }}</a></li>
        {% endifchanged %}
        <li>
            <a href="{{ url }}">
                {{ title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>
