Dear {{ user.username }},<br /><br />

Please note that the following documents are behind schedule:<br /><br />
{% for category, docs in documents %}
<a href="{{ scheme }}://{{ domain }}{{ category.get_absolute_url }}">{{ category }}</a>
<br /><br />

<table>
    <thead>
        <tr>
            <th>Document number</th>
            <th>Title</th>
            <th>Revision</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for document in docs %}
        <tr>
            <td>{{ document.document_key}}</td>
            <td>{{ document.document.title }}</td>
            <td>{{ document.document.current_revision }}</td>
            <td>{{ document.latest_revision.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br /><br />
{% endfor %}
The Phase team.