Dear {{ user.username }},

Please note that the following documents are behind schedule:
{% for category, docs in documents %}
<table>
    <thead>
        <tr>
            <th colspan="4">
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
            </th>
        </tr>
        <tr>
            <th>Document number</th>
            <th>Title</th>
            <th>Revision</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for document in docs %}
        <tr>
            <td>{{ document.document_key}}</td>
            <td>{{ document.document.title }}</td>
            <td>{{ document.document.current_revision }}</td>
            <td>{{ document.latest_revision.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}