Dear {{ user.username }},<br /><br />

Please note that the following documents are behind schedule:<br /><br />

{% with tdstyle='border: 1px solid black;' %}
{% for category, docs in documents %}
<a href="{{ scheme }}://{{ domain }}{{ category.get_absolute_url }}">{{ category }}</a>
<br /><br />

<table
    cellpadding="5"
    cellspacing="0"
    style="border: 1px solid black; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="text-align: center; {{ tdstyle }}">Document number</th>
            <th style="text-align: center; {{ tdstyle }}">Title</th>
            <th style="text-align: center; {{ tdstyle }}">Revision</th>
            <th style="text-align: center; {{ tdstyle }}">Status</th>
        </tr>
    </thead>
    <tbody>
    {% for document in docs %}
        <tr>
            <td style="text-align: left; {{ tdstyle }}">{{ document.document_key}}</td>
            <td style="text-align: left; {{ tdstyle }}">{{ document.document.title }}</td>
            <td style="text-align: center; {{ tdstyle }}">{{ document.document.current_revision_name }}</td>
            <td style="text-align: center; {{ tdstyle }}">{{ document.latest_revision.status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br /><br />
{% endfor %}
{% endwith %}
The Phase team.