{% extends 'base.html' %}

{% block content %}
<form class="central-form" action="" method="post">
    {% csrf_token %}
    <h2 class="central-form-heading">Please sign in</h2>

    {% include 'form_snippet.html' with form=form %}
    <input type="hidden" name="next" value="{{ next }}" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <p class="alert alert-warning">
        Please contact your Document Controller if you are unable to connect to Phase.
    </p>
</form>
{% endblock %}
