{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .login-footer {
            position: absolute;
            bottom: 10px;
            right: 20px;
        }


    </style>

    <form class="central-form" action="" method="post">


        {% csrf_token %}
        <h2 class="central-form-heading">Please sign in</h2>

        {% include 'form_snippet.html' with form=form %}

        {% url 'category_list' as home_url %}
        <input type="hidden" name="next"
               value="{{ next|default:home_url }}"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign
            in
        </button>

        <p class="alert alert-warning">
            Please contact your Document Controller if you are unable to
            connect to Phase.
        </p>
    </form>

    <footer class="login-footer">
        {% if display_branding %}
            <img src="{% static 'img/branding/talengi-logo.png' %}"
                 alt="Talengi logo">
        {% endif %}
    </footer>
{% endblock %}
