<li{% if documents_active %} class="active"{% endif %}>
    <a href="#nav-organisations"
       id="document-link"
       data-toggle="collapse"
       data-parent="#sidebar-nav">
        <span class="glyphicon glyphicon-briefcase"></span>
        Documents <b class="caret"></b>
    </a>

    {% load cache %}
    {% cache 500 category_menu request.user.email %}

    {% regroup user_categories by organisation as organisation_list %}

    <ul id="nav-organisations" class="nav nav-stacked collapse">
    {% for organisation in organisation_list %}
        <li class="disabled"><a href="#">{{ organisation.grouper }}</a></li>
        {% for category in organisation.list %}
            <li>
                <a href="{{ category.get_absolute_url }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
    {% endcache %}
</li>

