<div class="form-actions">
    <a class="btn btn-default" href="{% url "category_document_list" organisation_slug category_slug %}">Cancel</a>

    {% if perms.documents.change_document %}

        <div class="btn-group {{ dropdirection }} pull-right last-button">
            {% url "document_edit" organisation_slug category_slug document.document_key as edit_url %}
            <a class="btn btn-primary" href="{{ edit_url }}">{{ _('Edit latest revision') }}</a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">{{ _('Edit revisions')</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for revision in revisions reversed %}
                    {% url "document_edit" organisation_slug category_slug document.document_key revision.revision as edit_url %}
                    <li><a href="{{ edit_url }}">Edit revision {{ revision.revision|stringformat:"02d" }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% url "document_revise" organisation_slug category_slug document.document_key as revise_url %}
        <a href="{{ revise_url }}" class="btn btn-primary pull-right">{{ _('Create revision') }}</a>

    {% endif %}
</div>
