{% extends "base.html" %}
{% load compressed crispy_forms_tags %}

{% block extra_css %}
    {% compressed_css "detail" %}
{% endblock extra_css %}

{% block content %}
<div class="row">

    {% include 'documents/document_detail_sidebar.html' with form=form revision_form=revisions.0.form %}
    <div class="col-sm-8">
        {% include 'documents/document_detail_actions.html' with dropdirection='dropdown' %}
        <hr />

        <h1>{{ document.document_key }}</h1>
        <form class="disabled" id="document-detail">
            {% crispy form form.helper %}
            {% include 'documents/document_revisions.html' with revisions=revisions %}
        </form>

        <hr />
        {% include 'documents/document_detail_actions.html' with dropdirection='dropup' %}

        {% include 'documents/document_detail_modals.html' %}
    </div>
</div>

{% include 'discussion/discussion_modal.html' %}
{% endblock content %}

{% block extra_js %}
<script>
    Phase.Config = {
        userId: {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}undefined{% endif %},
        csrfToken: "{{ csrf_token }}",
        currentUrl: "{% url "document_detail" organisation_slug category_slug document.document_key %}"
    };
</script>
{% compressed_js "document_detail" %}
{% endblock extra_js %}
