{% extends "base.html" %}
{% load compressed %}

{% block content %}
    {% include 'documents/document_action_form.html' %}

    <div class="row">
        <div class="col-sm-9 col-md-10">
            <div class="table-responsive">
                {% include "documents/custom/list_table.html" %}
            </div>
        </div>

        <div class="col-sm-3 col-md-2" id="sidebar">
            <form action="{% url 'document_filter' %}"
                  method="get"
                  id="table-filters">
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {% include "documents/form_filtering.html" %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% compressed_js "list" %}
    {% compressed_js "datatable" %}

    <script>
    var config = {
        userId: {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}undefined{% endif %},
        csrfToken: "{{ csrf_token }}",
        createUrl: "{% url "favorite_create" %}",
        deleteUrl: "{% url "favorite_delete" "0" %}",
        filterUrl: "{% url "document_filter" %}",
        detailUrl: "{% url "document_detail" "documentNumber" %}",
        numPages: {{ paginator.num_pages }},
        totalItems: {{ paginator.count }},
        numItemsPerPage: {{ items_per_page }}
    };
    var tableData = {{ initial_data|safe }};

    </script>
{% endblock extra_js %}
