{% extends "base.html" %}
{% load compressed %}

{% block breadcrumbs %}
{{ block.super }}
<li>Documents</li>
{% endblock %}

{% block custombodyclass %}documentlist fullwidth{% endblock %}

{% block additional_navbar %}
    {% include 'documents/document_list_navbar.html' %}
{% endblock %}

{% block content %}
    <div id="document-list-row" class="row">
        <div id="main-table" class="col-xs-12">
            {% include "documents/list_table.html" %}
        </div>
    </div>

    <div id="search-sidebar" class="sidebar-offcanvas">
        <div class="offcanvas-wrapper">
            {% include "documents/form_filtering.html" %}
        </div>
    </div>
    {% include "bookmarks/bookmark_modal.html" %}
{% endblock %}

{% block extra_js %}
    <script>
    Phase.Config = {
        userId: {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}undefined{% endif %},
        csrfToken: "{{ csrf_token }}",
        currentUrl: "{% url "category_document_list" organisation_slug category_slug %}",
        detailUrl: "{% url "document_detail" organisation_slug category_slug "document_key" %}",
        searchUrl: "{% url "search_documents" organisation_slug category_slug %}",
        paginateBy: {{ paginate_by }},
        sortBy: "{{ sort_by }}",
        documentType: "{{ document_type }}",

        favoriteUrl: "{% url "favorite-list" %}",
        initialFavorites: {{ favorites|safe }},

        bookmarksUrl: "{% url "bookmark-list" %}",
        initialBookmarks: {{ bookmarks|safe }}
    };
    </script>
    {% compressed_js "backbone" %}
    {% compressed_js "list" %}
{% endblock extra_js %}
