{% extends "base.html" %}
{% load compressed crispy_forms_tags %}

{% block extra_css %}
    {% compressed_css "detail" %}
{% endblock extra_css %}

{% block createdocument %}{% endblock createdocument %}

{% block content %}
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>{{ is_edit|yesno:"Edit,New" }} document</h1>
        <form action="."
              method="post"
              class=""
              enctype="multipart/form-data"
              id="document-edit">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <p><strong>Please fix this error:</strong> {{ form.non_field_errors.0 }}</p>
                </div>
            {% endif %}
            {% crispy document_form document_form.helper %}
            <h2>{{ _('Revisable data') }}</h2>
            {% crispy revision_form revision_form.helper %}

            <div class="form-actions">
                {% if is_edit %}
                    {% include 'documents/edit_form_actions.html' %}
                {% else %}
                    {% include 'documents/create_form_actions.html' %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    {% compressed_js "detail" %}
{% endblock extra_js %}

