<div class="form-actions">
    <a class="btn btn-default" href="{% url "category_document_list" organisation_slug category_slug %}">Close</a>

    {% if perms.documents.change_document %}

        <div class="btn-group {{ dropdirection }} pull-right last-button">

            {% url "document_edit" organisation_slug category_slug document.document_key as edit_url %}
            <a class="btn btn-primary" href="{{ edit_url }}">{{ _('Edit latest revision') }}</a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">{{ _('Edit revisions')</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for revision in revisions reversed %}
                    {% url "document_edit" organisation_slug category_slug document.document_key revision.revision as edit_url %}
                    <li><a href="{{ edit_url }}">Edit revision {{ revision.revision|stringformat:"02d" }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% if not latest_revision.is_under_review %}
            {% url "document_revise" organisation_slug category_slug document.document_key as revise_url %}
            <a href="{{ revise_url }}" class="btn btn-primary pull-right last-button">{{ _('Create revision') }}</a>
        {% else %}
            <button type="button" class="btn btn-primary pull-right last-button disabled">{{ _('Create revision') }}</button>
        {% endif %}

        {% if latest_revision.can_be_reviewed and perms.documents.can_control_document %}
            {% url "document_start_review" organisation_slug category_slug document.document_key as review_url %}
            <form class="inlineform pull-right" method="post" action="{{ review_url }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">
                    {{ _('Start review') }}
                </button>
            </form>
        {% else %}
            <button type="button" class="btn btn-warning disabled pull-right">
                {{ _('Start review') }}
            </button>
        {% endif %}

    {% endif %}
</div>
