{% extends "base.html" %}
{% load pipeline crispy_forms_tags i18n %}

{% block extra_css %}
    {% stylesheet "detail" %}
{% endblock extra_css %}

{% block createdocument %}{% endblock createdocument %}

{% block content %}
    {% include 'documents/document_detail_sidebar.html' with form=document_form revision_form=revision_form %}
    <div class="col-sm-8">

        {% if revision.is_under_review %}
            <p class="alert alert-warning">
                {{ _('You are trying to update a document that is under review. Please handle with care.') }}
            </p>
        {% endif %}

        {% if is_edit and not is_revise %}
            <p class="alert alert-info">
            {% blocktrans with document_key=document.document_key revision=revision.name %}
                You are editing rev <strong>{{ revision }}</strong> of the
                document <strong>{{ document_key }}</strong>.
            {% endblocktrans %}
            </p>
        {% endif %}

        <h1>{{ is_edit|yesno:"Edit,New" }} document</h1>
        <form action="."
              method="post"
              class=""
              enctype="multipart/form-data"
              id="document-edit">
            {% csrf_token %}
            {% if document_form.errors or revision_form.errors %}
                <div class="alert alert-danger">
                    <p>There was errors processing your data. See below.</p>
                </div>
            {% endif %}
            {% crispy document_form document_form.helper %}
            {% crispy revision_form revision_form.helper %}

            <hr />
            <div class="form-actions">
                {% if is_edit %}
                    {% include 'documents/edit_form_actions.html' %}
                {% else %}
                    {% include 'documents/create_form_actions.html' %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    {% javascript "document_edit" %}
{% endblock extra_js %}

