{% extends "base.html" %}
{% load compressed %}

{% block breadcrumbs %}
{{ block.super }}
<li>Documents</li>
{% endblock %}

{% block custombodyclass %}documentlist fullwidth{% endblock %}

{% block additional_navbar %}
    {% include 'documents/document_list_navbar.html' %}
{% endblock %}

{% block content %}
    <div id="document-list-row" class="row">
        <div id="main-table" class="col-xs-12">
            {% include "documents/list_table.html" %}
        </div>
    </div>

    <div class="sidebar-offcanvas">
        <form action="{% url 'document_filter' organisation_slug category_slug %}"
              method="get"
              id="table-filters">
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
            {% include "documents/form_filtering.html" %}
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    Phase.Config = {
        userId: {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}undefined{% endif %},
        csrfToken: "{{ csrf_token }}",
        createUrl: "{% url "favorite_create" %}",
        deleteUrl: "{% url "favorite_delete" "0" %}",
        filterUrl: "{% url "document_filter" organisation_slug category_slug %}",
        detailUrl: "{% url "document_detail" organisation_slug category_slug "document_key" %}",
        searchUrl: "{% url "search_documents" organisation_slug category_slug %}",
        numPages: {{ paginator.num_pages }},
        totalItems: {{ paginator.count }},
        numItemsPerPage: {{ items_per_page }},
        documentType: "{{ document_type }}"
    };
    </script>
    {% compressed_js "list" %}
{% endblock extra_js %}
