<div class="navbar additional-navbar navbar-default navbar-static-top" id="table-controls">
<div class="container-fluid">

    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#document-list-form">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <p id="display-results" class="navbar-text navbar-left hidden-xs hidden-sm">
        0 documents on 0
    </p>

    <button id="toggle-filters-button"
            type="button"
            class="btn btn-primary navbar-btn navbar-right"
            data-toggle="offcanvas">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>

    <div id="document-list-form" class="collapse navbar-collapse">

    <form
        method="post"
        action="{% url "document_download" organisation_slug category_slug %}"
        class="navbar-form navbar-left">
        {% csrf_token %}

        <div class="form-group dropdown">
            <button id="download-button"
                type="button"
                data-toggle="dropdown"
                data-form-action="{% url "document_download" organisation_slug category_slug %}"
                class="btn btn-primary navbar-action disabled dropdown-toggle">
                <span class="glyphicon glyphicon-download glyphicon-white"></span> Download
            </button>
            <div id="download-dropdown" class="dropdown-form dropdown-menu">
                {% include 'documents/download_modal.html' %}
            </div>
        </div>

        {% if perms.documents.can_control_document %}
        <div class="btn-group form-group">

            <button
                type="button"
                class="btn btn-primary disabled dropdown-toggle navbar-action"
                data-toggle="dropdown">
                Actions <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a id="start-review-button"
                        data-form-action="{% url "batch_start_reviews" organisation_slug category_slug %}"
                        data-toggle="modal"
                        data-keyboard="false"
                        href="#progress-modal">
                        <span class="glyphicon glyphicon-eye-open glyphicon-white"></span>
                        Start review
                    </a>
                </li>
                <li>
                    <a id="cancel-review-button" data-keyboard="false">
                        <span class="glyphicon glyphicon-eye-close glyphicon-white"></span>
                        Cancel review
                    </a>
                </li>
                <li>
                    <a id="create-outgoing-trs"
                        data-form-action="{% url "outgoing_transmittal_list" organisation_slug category_slug %}">
                        <span class="glyphicon glyphicon-share-alt glyphicon-white"></span>
                        Create outgoing transmittal
                    </a>
                </li>
            </ul>
       </div>
       {% endif %}

        {% if perms.documents.add_document %}
        <div class="form-group hidden-xs hidden-sm">
            <div class="hidden-xs hidden-sm">
                <a class="btn btn-primary"
                    href="{% url "document_create" organisation_slug category_slug %}">
                    <span class="glyphicon glyphicon-plus icon-white"></span> New document
                </a>
            </div>
        </div>
        {% endif %}
    </form>

    <form
        id="export-form"
        method="post"
        action="{% url "export_create" organisation_slug category_slug %}"
        class="navbar-form navbar-left hidden-xs hidden-sm">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-upload glyphicon-inverse"></span>
            {{ _('Export current list') }}
        </button>
    </form>
    </div>
</div>
</div>

{% include 'progress_modal.html' %}
{% include 'documents/document_list_modals.html' %}
