<div class="navbar additional-navbar navbar-default navbar-static-top" id="table-controls">
<div class="container-fluid">

    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#document-list-form">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <p id="display-results" class="navbar-text navbar-left hidden-xs hidden-sm">
        0 documents on 0
    </p>

    <button id="toggle-filters-button"
            type="button"
            class="btn btn-primary navbar-btn navbar-right"
            data-toggle="offcanvas">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>

    <div id="document-list-form" class="collapse navbar-collapse">

    <form
        method="post"
        action="{% url "document_download" organisation_slug category_slug %}"
        class="navbar-form navbar-left">
        {% csrf_token %}

        <div class="form-group dropdown">
            <button id="download-button"
                type="button"
                data-toggle="dropdown"
                data-form-action="{% url "document_download" organisation_slug category_slug %}"
                class="btn btn-primary navbar-action disabled dropdown-toggle">
                <span class="glyphicon glyphicon-download glyphicon-white"></span> Download
            </button>
            <div id="download-dropdown" class="dropdown-form dropdown-menu">
                {% include 'documents/download_modal.html' %}
            </div>
        </div>

        <div class="form-group">
            <button id="review-button"
                type="submit"
                data-form-action="{% url "batch_start_review" organisation_slug category_slug %}"
                data-toggle="modal"
                data-keyboard="false"
                href="#progress-modal"
                class="btn btn-primary navbar-action disabled">
                <span class="glyphicon glyphicon-eye-open glyphicon-white"></span> Start review
           </button>
       </div>

        {% if perms.documents.add_document %}
        <div class="form-group hidden-xs hidden-sm">
            <div class="hidden-xs hidden-sm">
                <a class="btn btn-primary"
                    href="{% url "document_create" organisation_slug category_slug %}">
                    <span class="glyphicon glyphicon-plus icon-white"></span> New document
                </a>
            </div>
        </div>
        {% endif %}
    </form>

    <form
        id="export-form"
        method="post"
        action="{% url "export_create" organisation_slug category_slug %}"
        class="navbar-form navbar-left hidden-xs hidden-sm">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-upload glyphicon-inverse"></span>
            {{ _('Export current list') }}
        </button>
    </form>
    </div>
</div>
</div>

{% include 'documents/progress_modal.html' %}
