<script id="delete-revision-modal" type="text/x-underscore-template">
<form method="POST" action="#">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ _('Delete last revision') }}</h4>
            </div>
            <div class="modal-body">
                {% if latest_revision.is_under_review %}
                    <p>{{ _('This revision is currently under review. Please cancel the review to delete this revision.') }}</p>
                {% else %}
                    <p>{{ _('Are you sure you want to delete the latest revision and all it\'s associated data?') }}</p>
                    <p>{{ _('This action cannot be undone.') }}</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if latest_revision.is_under_review %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Back to document view') }}</button>
                {% else %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Back to document view') }}</button>
                    <button type="submit" class="btn btn-danger">{{ _('Delete last revision') }}</button>
                {% endif %}
            </div>
        </div>
    </div>
<form>
</script>
