{% load documents %}

<div class="navbar additional-navbar navbar-default navbar-static-top" id="table-controls">
    <div class="container-fluid">

        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#document-list-form">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <p id="display-results" class="navbar-text navbar-left hidden-xs hidden-sm">
            0 documents on 0
        </p>

        <button id="toggle-filters-button"
                type="button"
                class="btn btn-primary navbar-btn navbar-right"
                data-toggle="offcanvas">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>

        <div id="document-list-form" class="collapse navbar-collapse">

        <form
            method="post"
            action="{% url "document_download" organisation_slug category_slug %}"
            class="navbar-form navbar-left">
            {% csrf_token %}

            <div class="btn-group form-group" id="batch-action-buttons">
                <button
                    type="button"
                    class="btn btn-primary disabled dropdown-toggle navbar-action"
                    data-toggle="dropdown">
                    Actions <span class="caret"></span>
                </button>
                {% batch_action_menu document_class category user %}
           </div>

            {% if category.use_creation_form and perms.documents.add_document %}
            <div class="form-group hidden-xs hidden-sm">
                <div class="hidden-xs hidden-sm">
                    <a class="btn btn-primary"
                        href="{% url "document_create" organisation_slug category_slug %}">
                        <span class="glyphicon glyphicon-plus icon-white"></span> New document
                    </a>
                </div>
            </div>
            {% endif %}
        </form>

        <form
            id="export-form"
            method="post"
            action="{% url "export_create" organisation_slug category_slug %}"
            class="navbar-form navbar-left hidden-xs hidden-sm">
            {% csrf_token %}

            <div class="dropdown">
                <button
                    type="button"
                    class="btn btn-primary dropdown-toggle navbar-action"
                    data-toggle="dropdown">
                     {{ _('Export current list') }}
                        <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="abc">
                        <input type="submit" class="btn btn-link dropdown-input" name="csv_format" value="{{ _('CSV format') }}">
                    </li>
                    <li>
                        <input type="submit" class="btn btn-link dropdown-input" name="xlsx_format" value="{{ _('Excel format') }}">
                    </li>
                </ul>
            </div>
        </form>


        </div>
    </div>
</div>

{% include_batch_action_modals document_class %}
