<ul class="nav nav-list leftnav affix">
    <li class="active">
        <a href="#general-information">
            <i class="icon-chevron-right"></i>
            General information
        </a>
    </li>
    <li>
        <a href="#revision">
            <i class="icon-chevron-right"></i>
            Revision
        </a>
    </li>
    <li>
        <a href="#review">
            <i class="icon-chevron-right"></i>
            Review
        </a>
    </li>
    <li>
        <a href="#related-documents">
            <i class="icon-chevron-right"></i>
            Related documents
        </a>
    </li>
    <li>
        <a href="#schedule">
            <i class="icon-chevron-right"></i>
            Schedule
        </a>
    </li>
</ul>
