{% load documents %}
{% comment %}
    This is probably the worst template in the whole project.

    Here, we display the possible actions depending on the user's permissions.
{% endcomment %}

<div class="form-actions">
    <a class="btn btn-default" href="{% url "category_document_list" organisation_slug category_slug %}">Close</a>

    {% if perms.documents.change_document %}

        <div class="btn-group {{ dropdirection }} pull-right last-button">

            {% url "document_edit" organisation_slug category_slug document.document_key as edit_url %}
            <a class="btn btn-primary" href="{{ edit_url }}">{{ _('Edit latest revision') }}</a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">{{ _('Edit revisions')}}</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for revision in revisions reversed %}
                    {% url "document_edit" organisation_slug category_slug document.document_key revision.revision as edit_url %}
                    <li><a href="{{ edit_url }}">Edit revision {{ revision.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="btn-group {{ dropdirection}} pull-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                {{ _('Action') }} <span class="caret"></span>
            </button>
            {% action_menu document user %}
        </div>
    {% endif %}
</div>
