 <fieldset id="revision">
    <legend>Revision</legend>
    <div class="controls controls-row">
        <div class="form-group {% if form.errors.current_revision %}error{% endif %}">
            <label class="control-label col-sm-4" for="{{ form.current_revision.auto_id }}">{{ form.current_revision.label }}</label>
            <div class="controls col-sm-8">
                {{ form.current_revision }}
            </div>
            {% if form.errors.current_revision %}<span class="help-inline">{{ form.errors.current_revision.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="form-group {% if form.errors.current_revision_date %}error{% endif %}">
            <label class="control-label col-sm-4" for="{{ form.current_revision_date.auto_id }}">{{ form.current_revision_date.label }}</label>
            <div class="controls col-sm-8 input-group date {% if form.errors.current_revision_date %}error{% endif %}">
                {{ form.current_revision_date }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            {% if form.errors.current_revision_date %}<span class="date-error">{{ form.errors.current_revision_date.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="form-group {% if form.errors.status %}error{% endif %}">
            <label class="control-label col-sm-4" for="{{ form.status.auto_id }}">{{ form.status.label }}</label>
            <div class="controls col-sm-8">
                {{ form.status }}
            </div>
            {% if form.errors.status %}<span class="help-inline">{{ form.errors.status.0 }}</span>{% endif %}
        </div>
    </div>
    {% if is_detail %}
        <div class="controls controls-row">
            <div class="form-group">
                <label class="control-label col-sm-4">Created on</label>
                <div class="controls col-sm-8 input-group date">
                    <input class="datepicker span2" data-date-format="yyyy-mm-dd" id="id_created_on" name="created_on" type="text" value="{{ document.created_on|date:"Y-m-d" }}" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                {% if form.errors.created_on %}<span class="help-inline">{{ form.errors.created_on.0 }}</span>{% endif %}
            </div>
        </div>
    {% endif %}

    {% with document.latest_revision as revision %}
    <div class="controls controls-row">
        <div class="form-group {% if form.errors.native_file %}error{% endif %}">
            <label class="control-label col-sm-4" for="{{ form.native_file.auto_id }}">{{ form.native_file.label }}</label>
            <div class="controls col-sm-8">
                {{ form.native_file }}
                {% if revision.native_file %}
                    <span class="fileupload-preview">
                        <a href="{{ revision.native_file.url }}">
                            {{ revision.native_file.name }}
                        </a>
                    </span>
                    <button class="btn btn-default" data-dismiss="{{ form.native_file.name }}">Delete</button>
                {% endif %}
            </div>
            {% if form.errors.native_file %}<span class="help-inline">{{ form.errors.native_file.0 }}</span>{% endif %}
        </div>
    </div>

    <div class="controls controls-row">
        <div class="form-group {% if form.errors.pdf_file %}error{% endif %}">
            <label class="control-label col-sm-4" for="{{ form.pdf_file.auto_id }}">{{ form.pdf_file.label }}</label>
            <div class="controls col-sm-8">
                {{ form.pdf_file }}
                {% if revision.pdf_file %}
                    <span class="fileupload-preview">
                        <a href="{{ revision.pdf_file.url }}">
                            {{ revision.pdf_file.name }}
                        </a>
                    </span>
                    <button class="btn btn-default" data-dismiss="{{ form.pdf_file.name }}">Delete</button>
                {% endif %}
            </div>
            {% if form.errors.pdf_file %}<span class="help-inline">{{ form.errors.pdf_file.0 }}</span>{% endif %}
        </div>
    </div>

    {% endwith %}
</fieldset>
