 <fieldset id="schedule">
    <legend>Schedule</legend>
    <table id="form-schedule-table" class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th class="col-md-1">Status</th>
                <th>Planned</th>
                <th>Forecast</th>
                <th>Actual</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>STD</th>
                <td>
                    {% if form.errors.status_std_planned_date %}<span class="date-error">{{ form.errors.status_std_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_std_planned_date %}error{% endif %}">
                        {{ form.status_std_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_std_forecast_date %}<span class="date-error">{{ form.errors.status_std_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_std_forecast_date %}error{% endif %}">
                        {{ form.status_std_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_std_actual_date %}<span class="date-error">{{ form.errors.status_std_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_std_actual_date %}error{% endif %}">
                        {{ form.status_std_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>IDC</th>
                <td>
                    {% if form.errors.status_idc_planned_date %}<span class="date-error">{{ form.errors.status_idc_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_idc_planned_date %}error{% endif %}">
                        {{ form.status_idc_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_idc_forecast_date %}<span class="date-error">{{ form.errors.status_idc_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_idc_forecast_date %}error{% endif %}">
                        {{ form.status_idc_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_idc_actual_date %}<span class="date-error">{{ form.errors.status_idc_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_idc_actual_date %}error{% endif %}">
                        {{ form.status_idc_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>IFR</th>
                <td>
                    {% if form.errors.status_ifc_planned_date %}<span class="date-error">{{ form.errors.status_ifc_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifc_planned_date %}error{% endif %}">
                        {{ form.status_ifc_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifc_forecast_date %}<span class="date-error">{{ form.errors.status_ifc_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifc_forecast_date %}error{% endif %}">
                        {{ form.status_ifc_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifc_actual_date %}<span class="date-error">{{ form.errors.status_ifc_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifc_actual_date %}error{% endif %}">
                        {{ form.status_ifc_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>IFA</th>
                <td>
                    {% if form.errors.status_ifa_planned_date %}<span class="date-error">{{ form.errors.status_ifa_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifa_planned_date %}error{% endif %}">
                        {{ form.status_ifa_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifa_forecast_date %}<span class="date-error">{{ form.errors.status_ifa_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifa_forecast_date %}error{% endif %}">
                        {{ form.status_ifa_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifa_actual_date %}<span class="date-error">{{ form.errors.status_ifa_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifa_actual_date %}error{% endif %}">
                        {{ form.status_ifa_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>IFD</th>
                <td>
                    {% if form.errors.status_ifd_planned_date %}<span class="date-error">{{ form.errors.status_ifd_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifd_planned_date %}error{% endif %}">
                        {{ form.status_ifd_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifd_forecast_date %}<span class="date-error">{{ form.errors.status_ifd_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifd_forecast_date %}error{% endif %}">
                        {{ form.status_ifd_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifd_actual_date %}<span class="date-error">{{ form.errors.status_ifd_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifd_actual_date %}error{% endif %}">
                        {{ form.status_ifd_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>IFC</th>
                <td>
                    {% if form.errors.status_ifc_planned_date %}<span class="date-error">{{ form.errors.status_ifc_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifc_planned_date %}error{% endif %}">
                        {{ form.status_ifc_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifc_forecast_date %}<span class="date-error">{{ form.errors.status_ifc_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifc_forecast_date %}error{% endif %}">
                        {{ form.status_ifc_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifc_actual_date %}<span class="date-error">{{ form.errors.status_ifc_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifc_actual_date %}error{% endif %}">
                        {{ form.status_ifc_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>IFI</th>
                <td>
                    {% if form.errors.status_ifi_planned_date %}<span class="date-error">{{ form.errors.status_ifi_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifi_planned_date %}error{% endif %}">
                        {{ form.status_ifi_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifi_forecast_date %}<span class="date-error">{{ form.errors.status_ifi_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifi_forecast_date %}error{% endif %}">
                        {{ form.status_ifi_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_ifi_actual_date %}<span class="date-error">{{ form.errors.status_ifi_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_ifi_actual_date %}error{% endif %}">
                        {{ form.status_ifi_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>ASB</th>
                <td>
                    {% if form.errors.status_asb_planned_date %}<span class="date-error">{{ form.errors.status_asb_planned_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_asb_planned_date %}error{% endif %}">
                        {{ form.status_asb_planned_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_asb_forecast_date %}<span class="date-error">{{ form.errors.status_asb_forecast_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_asb_forecast_date %}error{% endif %}">
                        {{ form.status_asb_forecast_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    {% if form.errors.status_asb_actual_date %}<span class="date-error">{{ form.errors.status_asb_actual_date.0 }}</span>{% endif %}
                    <div class="controls input-group date {% if form.errors.status_asb_actual_date %}error{% endif %}">
                        {{ form.status_asb_actual_date }}
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
