 <fieldset id="revision">
    <legend>Revision</legend>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.current_revision %}error{% endif %}">
            <label class="control-label span4" for="{{ form.current_revision.auto_id }}">{{ form.current_revision.label }}</label>
            <div class="controls span6">
                {{ form.current_revision }}
            </div>
            {% if form.errors.current_revision %}<span class="help-inline">{{ form.errors.current_revision.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.current_revision_date %}error{% endif %}">
            <label class="control-label span4" for="{{ form.current_revision_date.auto_id }}">{{ form.current_revision_date.label }}</label>
            <div class="controls span6 input-append date {% if form.errors.current_revision_date %}error{% endif %}">
                {{ form.current_revision_date }}
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            {% if form.errors.current_revision_date %}<span class="date-error">{{ form.errors.current_revision_date.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.status %}error{% endif %}">
            <label class="control-label span4" for="{{ form.status.auto_id }}">{{ form.status.label }}</label>
            <div class="controls span6">
                {{ form.status }}
            </div>
            {% if form.errors.status %}<span class="help-inline">{{ form.errors.status.0 }}</span>{% endif %}
        </div>
    </div>
    {% if is_detail %}
        <div class="controls controls-row">
            <div class="control-group">
                <label class="control-label span4">Created on</label>
                <div class="controls span6 input-append date">
                    <input class="datepicker span2" data-date-format="yyyy-mm-dd" id="id_created_on" name="created_on" type="text" value="{{ document.created_on|date:"Y-m-d" }}" />
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                {% if form.errors.created_on %}<span class="help-inline">{{ form.errors.created_on.0 }}</span>{% endif %}
            </div>
        </div>
    {% endif %}
    {% with document.latest_revision as revision %}
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.native_file %}error{% endif %}">
            <label class="control-label span4" for="{{ form.native_file.auto_id }}">{{ form.native_file.label }}</label>
            <div class="fileupload fileupload-{% if is_edit and revision.native_file %}exists{% else %}new{% endif %} controls span5" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3">
                        <i class="icon-file fileupload-exists"></i>
                        <span class="fileupload-preview">
                            {% if revision.native_file %}
                                {{ revision.native_file.name }}
                            {% endif %}
                        </span>
                    </div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select file</span>
                        <span class="fileupload-exists">Change</span>
                        <input id="id_native_file" name="native_file" type="file" />
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            {% if form.errors.native_file %}<span class="help-inline">{{ form.errors.native_file.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.pdf_file %}error{% endif %}">
            <label class="control-label span4" for="{{ form.pdf_file.auto_id }}">{{ form.pdf_file.label }}</label>
            <div class="fileupload fileupload-{% if is_edit and revision.pdf_file %}exists{% else %}new{% endif %} controls span5" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3">
                        <i class="icon-file fileupload-exists"></i>
                        <span class="fileupload-preview">
                            {% if revision.pdf_file %}
                                {{ revision.pdf_file.name }}
                            {% endif %}
                        </span>
                    </div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select file</span>
                        <span class="fileupload-exists">Change</span>
                        <input id="id_pdf_file" name="pdf_file" type="file" />
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            {% if form.errors.pdf_file %}<span class="help-inline">{{ form.errors.pdf_file.0 }}</span>{% endif %}
        </div>
    </div>
    {% endwith %}
</fieldset>
