 <fieldset id="revision">
    <legend>Revision</legend>
    <div class="controls controls-row">
        <div class="form-group {% if form.errors.status %}error{% endif %}">
            <label class="control-label col-sm-4" for="{{ form.status.auto_id }}">{{ form.status.label }}</label>
            <div class="controls col-sm-8">
                {{ form.status }}
            </div>
            {% if form.errors.status %}<span class="help-inline">{{ form.errors.status.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="form-group">
            <label class="control-label col-sm-4">Created on</label>
            <div class="controls col-sm-8 input-group date">
                <input class="datepicker span2"
                        id="id_created_on"
                        name="created_on"
                        type="text"
                        data-date-format="yyyy-mm-dd"
                        value="{{ document.created_on|date:"SHORT_DATE_FORMAT" }}" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
            {% if form.errors.created_on %}<span class="help-inline">{{ form.errors.created_on.0 }}</span>{% endif %}
        </div>
    </div>
</fieldset>
{% if revisions %}
    <fieldset>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                {% for revision in revisions %}
                    <li{% if forloop.first %} class="active"{% endif %}><a href="#tab{{ forloop.counter }}" data-toggle="tab">Revision {{ revision.revision }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for revision in revisions %}
                    <div class="tab-pane{% if forloop.first %} active{% endif %}" id="tab{{ forloop.counter }}">
                        <div class="controls controls-row">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="{{ form.native_file.auto_id }}">{{ form.native_file.label }}</label>
                                <div class="controls input-group col-sm-8" data-provides="fileupload">
                                    <input type="text" value="{{ revision.native_file.name|default_if_none:"" }}" />
                                    {% if revision.native_file %}
                                        <a class="input-group-addon" href="{% url 'protected_download' revision.native_file.name %}">
                                            <i class="glyphicon glyphicon-file fileupload-exists"></i>
                                            Download
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="controls controls-row">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="{{ form.pdf_file.auto_id }}">{{ form.pdf_file.label }}</label>
                                <div class="controls input-group col-sm-8" data-provides="fileupload">
                                    <input type="text" value="{{ revision.pdf_file.name|default_if_none:"" }}" />
                                    {% if revision.pdf_file %}
                                        <a class="input-group-addon" href="{% url 'protected_download' revision.pdf_file.name %}">
                                            <i class="glyphicon glyphicon-file fileupload-exists"></i>
                                            Download
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="controls controls-row">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="{{ revision.form.revision_date.auto_id }}">{{ revision.form.revision_date.label }}</label>
                                <div class="controls col-sm-8 input-group date">
                                    {{ revision.form.revision_date }}
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </fieldset>
{% endif %}
