{% load widget_tweaks %}
<fieldset>
    <legend>
        <button type="reset" id="resetForm" class="btn btn-primary">Reset filters</button>
        &nbsp;
        <button type="button"
                id="sidebar-close-btn"
                class="btn btn-default"
                data-toggle="offcanvas">Close</button>
    </legend>
    <div id="controls-rows">
    {% for field in form.visible_fields %}
        <div class="form-group">
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field|add_class:"form-control filter" }} <span class="glyphicon glyphicon-remove"></span>
                </div>
                {% if field.errors %}<span class="help-inline">{{ field.errors.0 }}</span>{% endif %}
            </div>
        </div>
    {% endfor %}
        <div class="control-group">
            <button id="bookmark-button"
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#bookmark-modal">
                {{ _('Save Bookmark') }}
            </button>
        </div>
        <hr />
        <div class="form-group">
            <div class="control-group">
                <label class="control-label" for="id_bookmark">{{ _('Bookmark') }}</label>
                <div class="controls">
                    <select id="id_bookmark">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</fieldset>
