{% load documents %}

<table id="documents" class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th id="columnselect">
                <input type="checkbox" id="select-all" />
            </th>
            <th id="columnfavorite"></th>
            {% generate_header_markup document_class %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% verbatim %}
<script id="documents-template" type="text/x-underscore-template">
    <tr data-document-id="<%= document_pk %>" data-metadata-id="<%= pk %>" data-document-key="<%= document_key %>">
        <td class="columnselect"><input type="checkbox" /></td>
        <td class="columnfavorite"><span class="glyphicon glyphicon-star-empty" data-favorite-id="<%= favorite_id %>" title="{{ _('Add to favorites') }}"></span></td>
        {% endverbatim %}{% generate_template_markup document_class %}{% verbatim %}
    </tr>
</script>
{% endverbatim %}


{% if is_paginated %}
<div class="pagination text-center">
  <ul>
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Loading more documents…</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
