{% load documents %}

<table id="documents" class="table table-condensed table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th id="columnselect">
                <input type="checkbox" id="select-all" />
            </th>
            <th id="columnfavorite"></th>
            {% generate_header_markup document_class %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% verbatim %}
<table id="documents-template">
    <tbody>
        <tr data-document-id="{{pk}}" data-document-number="{{document_number}}">
            <td class="columnselect"><input type="checkbox" /></td>
            <td class="columnfavorite"><span class="{{../icon}}" data-favorite-id="{{favorite_id}}" title="{{../icon_title}}"></span></td>
            {% endverbatim %}{% generate_template_markup document_class %}{% verbatim %}
        </tr>
    </tbody>
</table>
{% endverbatim %}


{% if is_paginated %}
<div class="pagination text-center">
  <ul>
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Loading more documents…</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
