{% load documents %}

<table id="documents" class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th id="columnselect">
                <input type="checkbox" id="select-all" autocomplete="off" />
            </th>
            <th id="columnfavorite"></th>
            {% generate_header_markup document_class %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% verbatim %}
<script id="documents-template" type="text/x-underscore-template">
    <td class="columnselect"><input type="checkbox" /></td>
    <td class="columnfavorite"><span class="glyphicon glyphicon-star-empty" data-favorite-id="" title="Add to favorites"></span></td>
    {% endverbatim %}{% generate_template_markup document_class %}{% verbatim %}
</script>
{% endverbatim %}

<div style="display: none;" id="documents-pagination">
    <button class="btn btn-primary">
        {{ _('Loading more documents') }}
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
</div>
