{% load review_form private %}
<div class="controls controls-row">
    <div class="form-group {% if form.errors.related_documents %}error{% endif %}">
        <table id="trs-rev-table" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>{{ _('Document number') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Rev.') }}</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('RC.') }}</th>
                    <th>{{ _('POI') }}</th>
                    <th>{{ _('File transmitted') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for rev in revisions %}
            <tr>
                <td>{{ rev.document.document_number }}</td>
                <td>{{ rev.document.title }}</td>
                <td>{{ rev.name }}</td>
                <td>{{ rev.status }}</td>
                <td>{{ rev.get_final_return_code }}</td>
                <td>{{ rev.purpose_of_issue }}</td>
                <td>{% download_link rev 'file_transmitted' %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">{{ _('There is nothing here. Please contact tech support.') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
