[appservers]
# Every single one Phase installation
www.phase-demo.mycompany.com
staging.phase-demo.mycompany.com
www.phase-myclient.mycompany.com
staging.phase-myclient.mycompany.com

[staging]
# Optional grouping to ease deployment filtering (with the -l option)
staging.phase-demo.mycompany.com
staging.phase-myclient.mycompany.com

[prod]
www.phase-demo.mycompany.com
www.phase-myclient.mycompany.com

[client_firstclient]
# Optional grouping to define custom variable in the group_vars directory
www.phase-myclient.mycompany.com
staging.phase-myclient.mycompany.com
