{% extends "base.html" %}

{% block extra_css %}
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-fileupload.css" rel="stylesheet">
<style type="text/css">
    label {
        text-align: right;
    }
    .date-error {
        color: #B94A48;
    }
    #save-create {
        margin-right: 15px;
    }
</style>
{% endblock extra_css %}

{% block createdocument %}{% endblock createdocument %}

{% block content %}
    <h2>{% if is_edit %}Edit{% else %}New{% endif %} document</h2>
    <form action="."
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.status }}
        {% include "documents/form_general_information.html" %}
        {% include "documents/form_review.html" %}
        {% include "documents/form_schedule.html" %}
        {% include "documents/form_files.html" %}
        {% if is_edit %}
            {% include "documents/form_revision.html" %}
        {% else %}
            <input id="id_revision" name="revision" type="hidden" value="00" />
            <input id="id_revision_date" name="revision_date" type="hidden" value="{% now "Y-m-d" %}" />
        {% endif %}
        <div class="form-actions">
            <a class="btn" href="{% url "document_list" %}">Cancel</a>
            <input class="btn btn-primary pull-right"
                   type="submit"
                   value="Save and close"
                   name="save-close">
            <input class="btn btn-info pull-right"
                   type="submit"
                   value="Save and create another document"
                   name="save-create"
                   id="save-create">
        </div>
    </form>
{% endblock content %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-fileupload.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker().on('changeDate', function(ev) {
            $(this).datepicker('hide');
        });
    </script>
{% endblock extra_js %}

