{% extends "base.html" %}
{% load compressed %}

{% block content %}
    <div class="row-fluid">
        <div class="span10">
            <div id="table-controls">
                {% block createdocument %}
                  <div class="dropdown pull-right">
                    <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-plus icon-white"></i> New document <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url "document_create" %}">Contractor deliverable</a></li>
                      <li><a href="{% url "document_create" %}">Vendor deliverable</a></li>
                      <li><a href="{% url "document_create" %}">Correspondence</a></li>
                      <li><a href="{% url "document_create" %}">Minutes of meeting</a></li>
                    </ul>
                  </div>
                {% endblock createdocument %}
                <form action="{% url "document_download" %}">
                    <input type="checkbox" id="select-all" />
                    <label for="select-all">Select/deselect all</label>
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-small">PDF</button>
                        <button type="button" class="btn btn-small">Native</button>
                        <button type="button" class="btn btn-small">Both formats</button>
                    </div>
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-small">Latest</button>
                        <button type="button" class="btn btn-small">All revisions</button>
                    </div>
                    <button type="submit" class="btn btn-small"><i class="icon-download"></i> Download</button>
                </form>
            </div>
            {% include "documents/custom/list_table.html" %}
        </div>

        <div class="span2" id="sidebar">
            <form action="{% url 'document_filter' %}"
                  method="get"
                  id="table-filters">
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {% include "documents/form_filtering.html" %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% compressed_js "datatable" %}

    <script>
    var config = {
        userId: {% if request.user.is_authenticated %}{{ request.user.id }}{% else %}undefined{% endif %},
        csrfToken: "{{ csrf_token }}",
        createUrl: "{% url "favorite_create" %}",
        deleteUrl: "{% url "favorite_delete" "0" %}",
        filterUrl: "{% url "document_filter" %}",
        detailUrl: "{% url "document_detail" "documentNumber" %}",
        numPages: {{ paginator.num_pages }}
    };

    </script>
{% endblock extra_js %}
