{% extends "base.html" %}

{% block extra_css %}
<link href="{{ STATIC_URL }}css/bootstrap-fileupload.css" rel="stylesheet">
<style type="text/css">
    label {
        text-align: right;
    }
    #save-create {
        margin-right: 20px;
    }
    .form-horizontal .form-actions {
        padding-left: 20px;
    }
    td.row-title, .table th {
        text-align: center;
    }
    td.row-title {
        font-weight: bold;
        padding-top: 20px;
    }
    .form-horizontal table .control-group {
        margin: 10px 35px;
    }
</style>
{% endblock extra_css %}

{% block content %}
    <form class="disabled form-horizontal">
        {% include "documents/form_general_information.html" %}
        {% include "documents/form_revision.html" %}
        {% include "documents/form_files_disabled.html" %}
        {% include "documents/form_review.html" %}
        {% include "documents/form_schedule.html" %}
        <div class="form-actions">
            <a class="btn" href="{% url "document_list" %}">Cancel</a>
            <a class="btn btn-primary pull-right" href="{% url "document_edit" document.document_number %}">Edit document</a>
        </div>
    </form>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        $('input').each(function(ev){
          $(this).attr('disabled', true);
        });
        $('textarea').each(function(ev){
          $(this).attr('disabled', true);
        });
        $('select').each(function(ev){
          $(this).attr('disabled', true);
        });
    </script>
{% endblock extra_js %}

