{% extends "base.html" %}
{% load compressed %}

{% block extra_css %}
    {% compressed_css 'datatables' %}
{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="span10">
            <div id="list_actions">
                <form action="{% url 'document_download' %}">
                    <button class="btn" id="select_all">Select/deselect all</button>
                    <ul>
                        <li>{{ download_form.document_numbers }}</li>
                        <li>{{ download_form.format }}</li>
                        <li>{{ download_form.revisions }}</li>
                    </ul>
                    <input type="submit" value="Download" class="btn" />
                </form>
            </div>
            <table id="documents" class="span10 table table-striped table-condensed table-bordered table-hover">
                <thead id="titles">
                    <tr>
                    {% for field in document_list.0.display_fields %}
                        <th id="column{{ field.1 }}">{{ field.0 }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <thead id="filters">
                    <tr>
                        <th id="filterByColumnLabel" colspan="2">
                            Filter by column:
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in status_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in revisions_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th></th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in units_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in disciplines_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in document_types_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in classes_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="span2" id="sidebar">
            <form action="{% url 'document_filter' %}"
                  method="get"
                  id="table_filter">
                {# Include the hidden fields #}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% include "documents/form_filtering.html" %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% compressed_js 'datatables' %}
    <script src="{{ STATIC_URL }}js/jquery.favbystar.js"></script>
    <script>
    // DataTable object wrapper. Enhances the initial object (gives reresh() and others)
    var Table = function(selector) {
        // dataTable default config
        var self = this,
            filterUrl = "{% url "document_filter" %}";
        this.serverData = [];
        this.config = {
            "sDom": "<'row'<'span5'l><'span5'f>r>t<'row'<'span5'i><'span5'p>>",
            "sPaginationType": "bootstrap",
            "bAutoWidth": false,
            "oLanguage": {
                "sLengthMenu": "_MENU_ documents per page",
                "sSearch": "Search all columns:"
            },
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": filterUrl,
            "fnServerData": function ( sSource, aoData, fnCallback ) {
                var keys = aoData.map(function(d) {return d.name});
                self.serverData.forEach(function(data) {
                    if(keys.indexOf(data.name) < 0) {
                        aoData.push( data );
                    }
                });

                $.getJSON( sSource, aoData, function (json) {
                   fnCallback(json);
                });
            },
        };
        this.selector = selector;
        this.datatable = null;

        // Draw the dataTable
        this.init = function() {
            this.datatable = $(this.selector).dataTable(this.config);
            return this.datatable;
        }

        // Destroy the dataTable
        this.clear = function() {
            this.datatable.fnDestroy();
        }

        // Recreate the dataTable
        this.refresh = function() {
            this.clear();
            this.init();
        }

        // Change a config property
        this.set = function(prop, value) {
            this.config[prop] = value;
        }
        // Set a config property and display accordingly
        // nameValues: [{name: 'prop1', value: "value1"}, {name: 'prop1', value: "value1"}]
        this.update = function(nameValues) {
            this.serverData = nameValues
            this.refresh();
        }
    }

    $(document).ready(function() {
        /* Dealing with addition/removal of favorites */
        $('#documents').on('click', 'i', function(e) {
            $(this).favbystar({
                userId: {{ request.user.id }},
                csrfToken: "{{ csrf_token }}",
                createUrl: '{% url "favorite_create" %}',
                deleteUrl: '{% url "favorite_delete" "0" %}'
            });
        });

        var table = window.dt = new Table('#documents'),
            documents = table.init();

        /* Deal with faceting via simple filters (within the table) */
        $("#filters th").each(function(i) {
            $('select', this).change(function(){
                documents.fnFilter($(this).val(), i);
            });
        });

        /* Filtering table's results given selected form's filters */
        var serializeTable = function(evt) {
            table.update($('#table_filter').serializeArray());
            $(this).siblings('i').css('display', 'inline-block');
            evt.preventDefault();
        }
        $("#table_filter select").on('change', serializeTable);
        $("#table_filter input").on('keyup', serializeTable);
        $("#table_filter i").on('click', function(evt) {
            $(this).siblings('select,input:text').val('');
            serializeTable(evt);
            $(this).hide();
        });

        /* Reseting the filtering form and thus the table's results */
        $('#resetForm').on('click', function(evt) {
            $('#table_filter').find('input:text, select').val('');
            $('#filters').find('select').val('');
            serializeTable(evt);
            $("#table_filter i").each(function(evt) {
                $(this).hide();
            })
        })

        /* select documents */

        // List object that contains ids of selected documents
        DocumentSelection = {
            data: [],
            add: function(id) {
                if(this.data.indexOf(id) == -1) {
                    this.data.push(id);
                }
            },
            remove: function(id) {
                this.data.splice(this.data.indexOf(id), 1);
            },
            clear: function() {
                this.data = [];
            }
        };

        // List object that contains DOM rows of selected documents
        TableSelection = {
            data: [],
            idFromRow: function(row) {
                return $(row).find('td:nth-child(1)').text().trim();
            },
            add: function(row) {
                if(this.data.indexOf(row) == -1) {
                    this.data.push(row);
                }
                $(row).addClass('row_selected');
                $('#id_document_numbers option[value="'+this.idFromRow(row)+'"]')
                    .attr('selected', "selected");
                return DocumentSelection.add(this.idFromRow(row));
            },
            remove: function(row) {
                $(row).removeClass('row_selected');
                $('#id_document_numbers option[value="'+this.idFromRow(row)+'"]')
                    .attr('selected', null);
                DocumentSelection.remove(this.idFromRow(row));
                if(this.data.indexOf(row) != -1) {
                    this.data.splice(this.data.indexOf(row), 1);
                }
            },
            toggle: function(row) {
                this.data.indexOf(row) != -1
                    ? this.remove(row)
                    : this.add(row);
            },
            clear: function() {
                $(this.data[0]).parent().find('.row_selected').removeClass('row_selected');
                $('#id_document_numbers option').attr('selected', null);
                DocumentSelection.clear();
                this.data = [];
            }
        };

        // select rows
        $("#documents tbody").on('click', 'tr', function(e) {
            if(!$(e.target).is('a,i')) {
                TableSelection.toggle(this);
            }
        });

        // select/deselect all rows
        $('#select_all').click(function(e) {
            var checked = TableSelection.data.length > 0;
            $("#documents tbody tr").each(function(i, e) {
                checked
                    ? TableSelection.remove(e)
                    : TableSelection.add(e)
            });
            e.preventDefault();
        });

        // paginating resets rows selection
        $('.dataTables_paginate').click(function(e) {
            TableSelection.clear();
        });

        // hide export documents list
        $('#id_document_numbers').parent().hide();

    });
    </script>
{% endblock extra_js %}
