{% extends "base.html" %}

{% block extra_css %}
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-fileupload.css" rel="stylesheet">
<style type="text/css">
    label {
        text-align: right;
    }
    .date-error {
        color: #B94A48;
    }
    #save-create, #save-view {
        margin-right: 20px;
    }
    .form-horizontal .form-actions {
        padding-left: 20px;
    }
    td.row-title, .table th {
        text-align: center;
    }
    td.row-title {
        font-weight: bold;
        padding-top: 20px;
    }
    .form-horizontal table .control-group {
        margin: 10px 35px;
    }
    .datepicker {
        margin-top: 0;
    }
</style>
{% endblock extra_css %}

{% block createdocument %}{% endblock createdocument %}

{% block content %}
    <h2>{% if is_edit %}Edit{% else %}New{% endif %} document</h2>
    <form action="."
          method="post"
          class="form-horizontal"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-error">
                <p><strong>Please fix this error:</strong> {{ form.non_field_errors.0 }}</p>
            </div>
        {% endif %}
        {% include "documents/form_general_information.html" %}
        {% include "documents/form_revision.html" %}
        {% include "documents/form_files.html" %}
        {% include "documents/form_review.html" %}
        {% include "documents/form_schedule.html" %}
        <div class="form-actions">
            <a class="btn pull-left" href="{% url "document_list" %}">Cancel</a>
            <input class="btn btn-primary pull-right"
                   type="submit"
                   value="Save and close"
                   name="save-close">
            {% if is_edit %}
                <input class="btn btn-info pull-right"
                       type="submit"
                       value="Save and view document detail"
                       name="save-view"
                       id="save-view">
            {% else %}
                <input class="btn btn-info pull-right"
                       type="submit"
                       value="Save and create another document"
                       name="save-create"
                       id="save-create">
            {% endif %}
        </div>
    </form>
{% endblock content %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-fileupload.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker().on('changeDate', function(ev) {
            $(this).datepicker('hide');
        });
    </script>
{% endblock extra_js %}

