{% extends "base.html" %}

{% block extra_css %}
    <style>
    div.dataTables_length label {
        float: left;
        text-align: left;
    }

    div.dataTables_length select {
        width: 75px;
    }

    div.dataTables_filter label {
        float: right;
    }

    div.dataTables_info {
        padding-top: 8px;
    }

    div.dataTables_paginate {
        float: right;
        margin: 0;
    }

    table.table {
        clear: both;
        margin-bottom: 6px !important;
        max-width: none !important;
    }

    table.table thead .sorting,
    table.table thead .sorting_asc,
    table.table thead .sorting_desc,
    table.table thead .sorting_asc_disabled,
    table.table thead .sorting_desc_disabled {
        cursor: pointer;
        *cursor: hand;
    }

    table.table thead .sorting { background: url('{{ STATIC_URL }}img/sort_both.png') no-repeat right 55%; }
    table.table thead .sorting_asc { background: url('{{ STATIC_URL }}img/sort_asc.png') no-repeat right 55%; }
    table.table thead .sorting_desc { background: url('{{ STATIC_URL }}img/sort_desc.png') no-repeat right 55%; }

    table.table thead .sorting_asc_disabled { background: url('{{ STATIC_URL }}img/sort_asc_disabled.png') no-repeat right 55%; }
    table.table thead .sorting_desc_disabled { background: url('{{ STATIC_URL }}img/sort_desc_disabled.png') no-repeat right 55%; }

    table.dataTable th:active {
        outline: none;
    }

    /* Scrolling */
    div.dataTables_scrollHead table {
        margin-bottom: 0 !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    div.dataTables_scrollHead table thead tr:last-child th:first-child,
    div.dataTables_scrollHead table thead tr:last-child td:first-child {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    div.dataTables_scrollBody table {
        border-top: none;
        margin-bottom: 0 !important;
    }

    div.dataTables_scrollBody tbody tr:first-child th,
    div.dataTables_scrollBody tbody tr:first-child td {
        border-top: none;
    }

    div.dataTables_scrollFoot table {
        border-top: none;
    }


    /*
     * TableTools styles
     */
    .table tbody tr.active td,
    .table tbody tr.active th {
        background-color: #08C;
        color: white;
    }

    .table tbody tr.active:hover td,
    .table tbody tr.active:hover th {
        background-color: #0075b0 !important;
    }
    .table tbody tr.row_selected > td {
        background-color: #999;
        color: #fff;
    }
    .table tbody tr.row_selected > td a {
        color: #8df;
    }

    .table-striped tbody tr.active:nth-child(odd) td,
    .table-striped tbody tr.active:nth-child(odd) th {
        background-color: #017ebc;
    }

    table.DTTT_selectable tbody tr {
        cursor: pointer;
        *cursor: hand;
    }

    div.DTTT .btn {
        color: #333 !important;
        font-size: 12px;
    }

    div.DTTT .btn:hover {
        text-decoration: none !important;
    }


    ul.DTTT_dropdown.dropdown-menu a {
        color: #333 !important; /* needed only when demo_page.css is included */
    }

    ul.DTTT_dropdown.dropdown-menu li:hover a {
        background-color: #0088cc;
        color: white !important;
    }

    /* TableTools information display */
    div.DTTT_print_info.modal {
        height: 150px;
        margin-top: -75px;
        text-align: center;
    }

    div.DTTT_print_info h6 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        margin: 1em;
    }

    div.DTTT_print_info p {
        font-size: 14px;
        line-height: 20px;
    }



    /*
     * FixedColumns styles
     */
    div.DTFC_LeftHeadWrapper table,
    div.DTFC_LeftFootWrapper table,
    table.DTFC_Cloned tr.even {
        background-color: white;
    }

    div.DTFC_LeftHeadWrapper table {
        margin-bottom: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
    div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    div.DTFC_LeftBodyWrapper table {
        border-top: none;
        margin-bottom: 0 !important;
    }

    div.DTFC_LeftBodyWrapper tbody tr:first-child th,
    div.DTFC_LeftBodyWrapper tbody tr:first-child td {
        border-top: none;
    }

    div.DTFC_LeftFootWrapper table {
        border-top: none;
    }

    /* CUSTOM STYLES */
    form {
        margin: 0;
    }
    #documents {
        margin-left: 0;
        margin-bottom: 15px !important;
    }
    #documents thead#titles th {
        padding-right: 15px;
    }
    #documents th, #documents td {
        text-align: center;
    }
    #documents tbody td {
        font-size: 11px;
        cursor: pointer;
    }
    #documents #columntitle {
        width: 300px;
    }
    #documents #columndocument_number {
        width: 270px;
    }
    #documents #columnstatus {
        width: 30px;
    }
    #documents .docnumber {
        padding-left: 5px;
    }
    #documents select {
        width: auto;
    }
    #documents #filterByColumnLabel {
        text-align: right;
    }
    #select_all {
        margin: 0 100px 0 0;
    }
    #documents th, #documents td {
        vertical-align: middle;
    }
    #documents .sorting_1 {
        text-align: left;
    }

    #list_actions {
        margin: 20px 0 0 0;
    }
    #list_actions ul {
        display: inline;
    }
    #list_actions li {
        list-style: none;
        display: inline-block;
    }
    #list_actions input[type="submit"], #list_actions button {
        vertical-align: top;
    }
    #table_filter .control-group {
        margin-bottom: 4px;
    }
    #table_filter label {
        margin-bottom: 2px;
    }
    #table_filter select {
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }
    #table_filter input[type="text"] {
        font-size: 12px;
        height: 15px;
        line-height: 15px;
    }
    .dataTables_processing {
        background-color: white;
        border: 1px solid #DDDDDD;
        color: #999999;
        font-size: 16px;
        font-weight: bold
        height: 50px;
        left: 50%;
        margin-left: -150px;
        margin-top: -25px;
        padding: 25px 0;
        position: absolute;
        text-align: center;
        top: 60%;
        width: 300px;
    }
    </style>
{% endblock extra_css %}

{% block content %}


    <div class="row">
        <div class="span10">
            <table id="documents" class="span10 table table-striped table-condensed table-bordered table-hover">
                <thead id="titles">
                    <tr>
                    {% for field in document_list.0.display_fields %}
                        <th id="column{{ field.1 }}">{{ field.0 }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <thead id="filters">
                    <tr>
                        <th id="filterByColumnLabel" colspan="2">
                            Filter by column:
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in status_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in revisions_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th></th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in units_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in disciplines_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in document_types_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select>
                                <option value=""></option>
                                {% for choice in classes_choices %}
                                    <option value="{{ choice }}">{{ choice }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="list_actions">
                <form action="{% url 'document_download' %}">
                    <button class="btn" id="select_all">Select/deselect all</button>
                    <ul>
                        <li>{{ download_form.document_numbers }}</li>
                        <li>{{ download_form.format }}</li>
                        <li>{{ download_form.revisions }}</li>
                    </ul>
                    <input type="submit" value="Download" class="btn" />
                </form>
            </div>
        </div>
        <div class="span2">
            <div>
                <form action="{% url 'document_filter' %}"
                      method="get"
                      id="table_filter">
                    {# Include the hidden fields #}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% include "documents/form_filtering.html" %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
    /* Default class modification */
    $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
    });

    /* API method to get paging information */
    $.fn.dataTableExt.oApi.fnPagingInfo = function(oSettings){
        return {
            "iStart":         oSettings._iDisplayStart,
            "iEnd":           oSettings.fnDisplayEnd(),
            "iLength":        oSettings._iDisplayLength,
            "iTotal":         oSettings.fnRecordsTotal(),
            "iFilteredTotal": oSettings.fnRecordsDisplay(),
            "iPage":          oSettings._iDisplayLength === -1 ?
                0 : Math.ceil( oSettings._iDisplayStart / oSettings._iDisplayLength ),
            "iTotalPages":    oSettings._iDisplayLength === -1 ?
                0 : Math.ceil( oSettings.fnRecordsDisplay() / oSettings._iDisplayLength )
        };
    };


    /* Bootstrap style pagination control */
    $.extend( $.fn.dataTableExt.oPagination, {
        "bootstrap": {
            "fnInit": function( oSettings, nPaging, fnDraw ) {
                var oLang = oSettings.oLanguage.oPaginate;
                var fnClickHandler = function ( e ) {
                    e.preventDefault();
                    if ( oSettings.oApi._fnPageChange(oSettings, e.data.action) ) {
                        fnDraw( oSettings );
                    }
                };

                $(nPaging).addClass('pagination').append(
                    '<ul>'+
                        '<li class="prev disabled"><a href="#">&larr; '+oLang.sPrevious+'</a></li>'+
                        '<li class="next disabled"><a href="#">'+oLang.sNext+' &rarr; </a></li>'+
                    '</ul>'
                );
                var els = $('a', nPaging);
                $(els[0]).bind( 'click.DT', { action: "previous" }, fnClickHandler );
                $(els[1]).bind( 'click.DT', { action: "next" }, fnClickHandler );
            },

            "fnUpdate": function ( oSettings, fnDraw ) {
                var iListLength = 5;
                var oPaging = oSettings.oInstance.fnPagingInfo();
                var an = oSettings.aanFeatures.p;
                var i, ien, j, sClass, iStart, iEnd, iHalf=Math.floor(iListLength/2);

                if ( oPaging.iTotalPages < iListLength) {
                    iStart = 1;
                    iEnd = oPaging.iTotalPages;
                }
                else if ( oPaging.iPage <= iHalf ) {
                    iStart = 1;
                    iEnd = iListLength;
                } else if ( oPaging.iPage >= (oPaging.iTotalPages-iHalf) ) {
                    iStart = oPaging.iTotalPages - iListLength + 1;
                    iEnd = oPaging.iTotalPages;
                } else {
                    iStart = oPaging.iPage - iHalf + 1;
                    iEnd = iStart + iListLength - 1;
                }

                for ( i=0, ien=an.length ; i<ien ; i++ ) {
                    // Remove the middle elements
                    $('li:gt(0)', an[i]).filter(':not(:last)').remove();

                    // Add the new list items and their event handlers
                    for ( j=iStart ; j<=iEnd ; j++ ) {
                        sClass = (j==oPaging.iPage+1) ? 'class="active"' : '';
                        $('<li '+sClass+'><a href="#">'+j+'</a></li>')
                            .insertBefore( $('li:last', an[i])[0] )
                            .bind('click', function (e) {
                                e.preventDefault();
                                oSettings._iDisplayStart = (parseInt($('a', this).text(),10)-1) * oPaging.iLength;
                                fnDraw( oSettings );
                            });
                    }

                    // Add / remove disabled classes from the static elements
                    if ( oPaging.iPage === 0 ) {
                        $('li:first', an[i]).addClass('disabled');
                    } else {
                        $('li:first', an[i]).removeClass('disabled');
                    }

                    if ( oPaging.iPage === oPaging.iTotalPages-1 || oPaging.iTotalPages === 0 ) {
                        $('li:last', an[i]).addClass('disabled');
                    } else {
                        $('li:last', an[i]).removeClass('disabled');
                    }
                }
            }
        }
    });


    /*
     * TableTools Bootstrap compatibility
     * Required TableTools 2.1+
     */
    if ($.fn.DataTable.TableTools) {
        // Set the classes that TableTools uses to something suitable for Bootstrap
        $.extend(true, $.fn.DataTable.TableTools.classes, {
            "container": "DTTT btn-group",
            "buttons": {
                "normal": "btn",
                "disabled": "disabled"
            },
            "collection": {
                "container": "DTTT_dropdown dropdown-menu",
                "buttons": {
                    "normal": "",
                    "disabled": "disabled"
                }
            },
            "print": {
                "info": "DTTT_print_info modal"
            },
            "select": {
                "row": "active"
            }
        });

        // Have the collection use a bootstrap compatible dropdown
        $.extend(true, $.fn.DataTable.TableTools.DEFAULTS.oTags, {
            "collection": {
                "container": "ul",
                "button": "li",
                "liner": "a"
            }
        });
    }

    // DataTable object wrapper. Enhances the initial object (gives reresh() and others)
    var Table = function(selector) {
        // dataTable default config
        var self = this;
        this.serverData = [];
        this.config = {
            "sDom": "<'row'<'span5'l><'span5'f>r>t<'row'<'span5'i><'span5'p>>",
            "sPaginationType": "bootstrap",
            "bAutoWidth": false,
            "oLanguage": {
                "sLengthMenu": "_MENU_ documents per page",
                "sSearch": "Search all columns:"
            },
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url "document_filter" %}",
            "fnServerData": function ( sSource, aoData, fnCallback ) {
                var keys = aoData.map(function(d) {return d.name});
                self.serverData.forEach(function(data) {
                    if(keys.indexOf(data.name) < 0) {
                        aoData.push( data );
                    }
                });

                $.getJSON( sSource, aoData, function (json) {
                   fnCallback(json);
                });
            },
        };
        this.selector = selector;
        this.datatable = null;

        // Draw the dataTable
        this.init = function() {
            this.datatable = $(this.selector).dataTable(this.config);
            return this.datatable;
        }

        // Destroy the dataTable
        this.clear = function() {
            this.datatable.fnDestroy();
        }

        // Recreate the dataTable
        this.refresh = function() {
            this.clear();
            this.init();
        }

        // Change a config property
        this.set = function(prop, value) {
            this.config[prop] = value;
        }
        // Set a config property and display accordingly
        // nameValues: [{name: 'prop1', value: "value1"}, {name: 'prop1', value: "value1"}]
        this.update = function(nameValues) {
            this.serverData = nameValues
            this.refresh();
        }
    }

    /* Table initialisation */
    $(document).ready(function() {
        var table = window.dt = new Table('#documents'),
            documents = table.init();

        /* Deal with faceting via footer's selects */
        $("#filters th").each(function(i) {
            $('select', this).change(function(){
                documents.fnFilter($(this).val(), i);
            });
        });

        // Filter table values
        $("#table_filter select").on('change', function(evt) {
            table.update($('#table_filter').serializeArray());
            evt.preventDefault();
        });
        $("#table_filter input").on('keyup', function(evt) {
            table.update($('#table_filter').serializeArray());
            evt.preventDefault();
        });

        /* favorite documents */

        $('#documents').on('click', 'i', function(e) {
            var userId = {{ request.user.id }},
                self = $(this),
                documentId = self.data('document-id'),
                favoriteId = self.data('favorite-id'),
                alreadyFav = self.hasClass('icon-star');

            if (alreadyFav) {
                $.ajax({
                    type: "POST",
                    url: '/favorites/delete/'+favoriteId+'/',
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function() {
                    self.data('favorite-id', '');
                    self.removeClass("icon-star")
                        .addClass("icon-star-empty")
                        .attr('title', "Add to favorites");
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: '{% url "favorite_create" %}',
                    data: {
                        user: userId,
                        document: documentId,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                }).done(function( favoriteId ) {
                    self.data('favorite-id', favoriteId);
                    self.removeClass("icon-star-empty")
                        .addClass("icon-star")
                        .attr('title', "Remove from favorites");
                });
            };
        });

        /* select documents */

        // List object that contains ids of selected documents
        DocumentSelection = {
            data: [],
            add: function(id) {
                if(this.data.indexOf(id) == -1) {
                    this.data.push(id);
                }
            },
            remove: function(id) {
                this.data.splice(this.data.indexOf(id), 1);
            },
            clear: function() {
                this.data = [];
            }
        };

        // List object that contains DOM rows of selected documents
        TableSelection = {
            data: [],
            idFromRow: function(row) {
                return $(row).find('td:nth-child(1)').text().trim();
            },
            add: function(row) {
                if(this.data.indexOf(row) == -1) {
                    this.data.push(row);
                }
                $(row).addClass('row_selected');
                $('#id_document_numbers option[value="'+this.idFromRow(row)+'"]')
                    .attr('selected', "selected");
                return DocumentSelection.add(this.idFromRow(row));
            },
            remove: function(row) {
                $(row).removeClass('row_selected');
                $('#id_document_numbers option[value="'+this.idFromRow(row)+'"]')
                    .attr('selected', null);
                DocumentSelection.remove(this.idFromRow(row));
                if(this.data.indexOf(row) != -1) {
                    this.data.splice(this.data.indexOf(row), 1);
                }
            },
            toggle: function(row) {
                this.data.indexOf(row) != -1
                    ? this.remove(row)
                    : this.add(row);
            },
            clear: function() {
                $(this.data[0]).parent().find('.row_selected').removeClass('row_selected');
                $('#id_document_numbers option').attr('selected', null);
                DocumentSelection.clear();
                this.data = [];
            }
        };

        // select rows
        $("#documents tbody").on('click', 'tr', function(e) {
            if(!$(e.target).is('a,i')) {
                TableSelection.toggle(this);
            }
        });

        // select/deselect all rows
        $('#select_all').click(function(e) {
            var checked = TableSelection.data.length > 0;
            $("#documents tbody tr").each(function(i, e) {
                checked
                    ? TableSelection.remove(e)
                    : TableSelection.add(e)
            });
            e.preventDefault();
        });

        // paginating resets rows selection
        $('.dataTables_paginate').click(function(e) {
            TableSelection.clear();
        });

        // hide export documents list
        $('#id_document_numbers').parent().hide();
    });
    /* dataTable Plugin */
    $.fn.dataTableExt.oApi.fnReloadAjax = function(oSettings) {
        //oSettings.sAjaxSource = sNewSource;
        this.fnClearTable(this);
        this.oApi._fnProcessingDisplay(oSettings, true);
        var that = this;

        $.getJSON(oSettings.sAjaxSource, null, function(json) {
            /* Got the data - add it to the table */
            for (var i = 0; i < json.aaData.length; i++) {
                that.oApi._fnAddData(oSettings, json.aaData[i]);
            }

            oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
            that.fnDraw(that);
            that.oApi._fnProcessingDisplay(oSettings, false);
        });
    }

    </script>
{% endblock extra_js %}
