 <fieldset>
    <legend>Revision</legend>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.revision %}error{% endif %}">
            <label class="control-label span4" for="{{ form.revision.auto_id }}">{{ form.revision.label }}</label>
            <div class="controls span4">
                {{ form.revision }}
            </div>
            {% if form.errors.revision %}<span class="help-inline">{{ form.errors.revision.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.revision_date %}error{% endif %}">
            <label class="control-label span4" for="{{ form.revision_date.auto_id }}">{{ form.revision_date.label }}</label>
            <div class="controls span4 input-append date {% if form.errors.status_std_planned_date %}error{% endif %}">
                {{ form.revision_date }}
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            {% if form.errors.revision_date %}<span class="date-error">{{ form.errors.revision_date.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.status %}error{% endif %}">
            <label class="control-label span4" for="{{ form.status.auto_id }}">{{ form.status.label }}</label>
            <div class="controls span4">
                {{ form.status }}
            </div>
            {% if form.errors.status %}<span class="help-inline">{{ form.errors.status.0 }}</span>{% endif %}
        </div>
    </div>
    {% if is_detail %}
        <div class="controls controls-row">
            <div class="control-group">
                <label class="control-label span4">Created on</label>
                <div class="controls span4 input-append date">
                    <input class="datepicker span2" data-date-format="yyyy-mm-dd" id="id_created_on" name="created_on" type="text" value="{{ document.created_on|date:"Y-m-d" }}" />
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                {% if form.errors.created_on %}<span class="help-inline">{{ form.errors.created_on.0 }}</span>{% endif %}
            </div>
        </div>
    {% endif %}
</fieldset>
