<fieldset>
    <legend>Related Documents</legend>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.related_documents %}error{% endif %}">
            {% if form.instance.related_documents.all.count > 0 %}
            <ul class="span4 document-list">
                {% for document in form.instance.related_documents.all %}
                <li><a href="{% url "document_detail" document.document_number %}">{{ document.document_number }} - {{ document.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No related document</p>
            {% endif %}
        </div>
    </div>
</fieldset>
