<fieldset>
    <legend>Search &amp; Filter</legend>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.search_terms %}error{% endif %}">
            <label class="control-label" for="{{ form.search_terms.auto_id }}">{{ form.search_terms.label }}</label>
            <div class="controls">
                {{ form.search_terms }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.search_terms %}<span class="help-inline">{{ form.errors.search_terms.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.status %}error{% endif %}">
            <label class="control-label" for="{{ form.status.auto_id }}">{{ form.status.label }}</label>
            <div class="controls">
                {{ form.status }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.status %}<span class="help-inline">{{ form.errors.status.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.discipline %}error{% endif %}">
            <label class="control-label" for="{{ form.discipline.auto_id }}">{{ form.discipline.label }}</label>
            <div class="controls">
                {{ form.discipline }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.discipline %}<span class="help-inline">{{ form.errors.discipline.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.document_type %}error{% endif %}">
            <label class="control-label" for="{{ form.document_type.auto_id }}">{{ form.document_type.label }}</label>
            <div class="controls">
                {{ form.document_type }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.document_type %}<span class="help-inline">{{ form.errors.document_type.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.unit %}error{% endif %}">
            <label class="control-label" for="{{ form.unit.auto_id }}">{{ form.unit.label }}</label>
            <div class="controls">
                {{ form.unit }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.unit %}<span class="help-inline">{{ form.errors.unit.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.klass %}error{% endif %}">
            <label class="control-label" for="{{ form.klass.auto_id }}">{{ form.klass.label }}</label>
            <div class="controls">
                {{ form.klass }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.klass %}<span class="help-inline">{{ form.errors.klass.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.contract_number %}error{% endif %}">
            <label class="control-label" for="{{ form.contract_number.auto_id }}">{{ form.contract_number.label }}</label>
            <div class="controls">
                {{ form.contract_number }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.contract_number %}<span class="help-inline">{{ form.errors.contract_number.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.originator %}error{% endif %}">
            <label class="control-label" for="{{ form.originator.auto_id }}">{{ form.originator.label }}</label>
            <div class="controls">
                {{ form.originator }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.originator %}<span class="help-inline">{{ form.errors.originator.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.contractor_document_number %}error{% endif %}">
            <label class="control-label" for="{{ form.contractor_document_number.auto_id }}">{{ form.contractor_document_number.label }}</label>
            <div class="controls">
                {{ form.contractor_document_number }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.contractor_document_number %}<span class="help-inline">{{ form.errors.contractor_document_number.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.engineering_phase %}error{% endif %}">
            <label class="control-label" for="{{ form.engineering_phase.auto_id }}">{{ form.engineering_phase.label }}</label>
            <div class="controls">
                {{ form.engineering_phase }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.engineering_phase %}<span class="help-inline">{{ form.errors.engineering_phase.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.feed_update %}error{% endif %}">
            <label class="control-label" for="{{ form.feed_update.auto_id }}">{{ form.feed_update.label }}</label>
            <div class="controls">
                {{ form.feed_update }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.feed_update %}<span class="help-inline">{{ form.errors.feed_update.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.system %}error{% endif %}">
            <label class="control-label" for="{{ form.system.auto_id }}">{{ form.system.label }}</label>
            <div class="controls">
                {{ form.system }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.system %}<span class="help-inline">{{ form.errors.system.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.wbs %}error{% endif %}">
            <label class="control-label" for="{{ form.wbs.auto_id }}">{{ form.wbs.label }}</label>
            <div class="controls">
                {{ form.wbs }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.wbs %}<span class="help-inline">{{ form.errors.wbs.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.under_ca_review %}error{% endif %}">
            <label class="control-label" for="{{ form.under_ca_review.auto_id }}">{{ form.under_ca_review.label }}</label>
            <div class="controls">
                {{ form.under_ca_review }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.under_ca_review %}<span class="help-inline">{{ form.errors.under_ca_review.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.under_contractor_review %}error{% endif %}">
            <label class="control-label" for="{{ form.under_contractor_review.auto_id }}">{{ form.under_contractor_review.label }}</label>
            <div class="controls">
                {{ form.under_contractor_review }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.under_contractor_review %}<span class="help-inline">{{ form.errors.under_contractor_review.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.leader %}error{% endif %}">
            <label class="control-label" for="{{ form.leader.auto_id }}">{{ form.leader.label }}</label>
            <div class="controls">
                {{ form.leader }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.leader %}<span class="help-inline">{{ form.errors.leader.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.approver %}error{% endif %}">
            <label class="control-label" for="{{ form.approver.auto_id }}">{{ form.approver.label }}</label>
            <div class="controls">
                {{ form.approver }} <i class="icon-remove"></i>
            </div>
            {% if form.errors.approver %}<span class="help-inline">{{ form.errors.approver.0 }}</span>{% endif %}
        </div>
    </div>
    <a href="#" id="resetForm" class="btn btn-mini">Reset filters</a>
</fieldset>
