<fieldset>
    <legend>Files</legend>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.native_file %}error{% endif %}">
            <label class="control-label span4" for="{{ form.native_file.auto_id }}">{{ form.native_file.label }}</label>
            <div class="fileupload fileupload-new controls span5" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3">
                        <i class="icon-file fileupload-exists"></i>
                        <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select file</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form.native_file }}
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            {% if form.errors.native_file %}<span class="help-inline">{{ form.errors.native_file.0 }}</span>{% endif %}
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group {% if form.errors.pdf_file %}error{% endif %}">
            <label class="control-label span4" for="{{ form.pdf_file.auto_id }}">{{ form.pdf_file.label }}</label>
            <div class="fileupload fileupload-new controls span5" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3">
                        <i class="icon-file fileupload-exists"></i>
                        <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select file</span>
                        <span class="fileupload-exists">Change</span>
                        {{ form.pdf_file }}
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
            {% if form.errors.pdf_file %}<span class="help-inline">{{ form.errors.pdf_file.0 }}</span>{% endif %}
        </div>
    </div>
</fieldset>
