<fieldset>
    <legend>Informations</legend>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
            <div class="controls span6">
                {{ form.title }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.status.auto_id }}">{{ form.status.label }}</label>
            <div class="controls span3">
                {{ form.status }}
            </div>
            <label class="control-label span2" for="{{ form.revision.auto_id }}">{{ form.revision.label }}</label>
            <div class="controls span3">
                {{ form.revision }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.revision_date.auto_id }}">{{ form.revision_date.label }}</label>
            <div class="controls span3">
                {{ form.revision_date }}
            </div>
            <label class="control-label span2" for="{{ form.contract_number.auto_id }}">{{ form.contract_number.label }}</label>
            <div class="controls span4">
                {{ form.contract_number }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.originator.auto_id }}">{{ form.originator.label }}</label>
            <div class="controls span6">
                {{ form.originator }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.unit.auto_id }}">{{ form.unit.label }}</label>
            <div class="controls span6">
                {{ form.unit }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.discipline.auto_id }}">{{ form.discipline.label }}</label>
            <div class="controls span6">
                {{ form.discipline }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.document_type.auto_id }}">{{ form.document_type.label }}</label>
            <div class="controls span6">
                {{ form.document_type }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.sequencial_number.auto_id }}">{{ form.sequencial_number.label }}</label>
            <div class="controls span6">
                {{ form.sequencial_number }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.contractor_document_number.auto_id }}">{{ form.contractor_document_number.label }}</label>
            <div class="controls span6">
                {{ form.contractor_document_number }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.system.auto_id }}">{{ form.system.label }}</label>
            <div class="controls span6">
                {{ form.system }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.engeenering_phase.auto_id }}">{{ form.engeenering_phase.label }}</label>
            <div class="controls span4">
                {{ form.engeenering_phase }}
            </div>
            <div class="controls span1">
                {{ form.feed_update }}
            </div>
            <label class="control-label span2" for="{{ form.feed_update.auto_id }}">{{ form.feed_update.label }}</label>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.leader.auto_id }}">{{ form.leader.label }}</label>
            <div class="controls span3">
                {{ form.leader }}
            </div>
            <label class="control-label span2" for="{{ form.approver.auto_id }}">{{ form.approver.label }}</label>
            <div class="controls span3">
                {{ form.approver }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.klass.auto_id }}">{{ form.klass.label }}</label>
            <div class="controls span6">
                {{ form.klass }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.under_contractor_review.auto_id }}">{{ form.under_contractor_review.label }}</label>
            <div class="controls span3">
                {{ form.under_contractor_review }}
            </div>
            <label class="control-label span2" for="{{ form.under_ca_review.auto_id }}">{{ form.under_ca_review.label }}</label>
            <div class="controls span3">
                {{ form.under_ca_review }}
            </div>
        </div>
    </div>
    <div class="controls controls-row">
        <div class="control-group">
            <label class="control-label span2" for="{{ form.wbs.auto_id }}">{{ form.wbs.label }}</label>
            <div class="controls span4">
                {{ form.wbs }}
            </div>
            <label class="control-label span1" for="{{ form.weight.auto_id }}">{{ form.weight.label }}</label>
            <div class="controls span4">
                {{ form.weight }}
            </div>
        </div>
    </div>
</fieldset>
