.chart {
    background-color: #f2f0f0;
    margin-bottom: 30px;
    padding: 20px 0;
    border-radius: 2px;
    text-align: center;
}

.linechart {
    overflow-y: hidden;
}

.chart-cell-left {
    margin-right: 10px;
}

.chart-cell-right {
    margin-left: 10px;
}

path.linechart {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;

}

path.domain {
    stroke-width: 1;
    stroke: black;
    fill: none;

}

line {
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
}

.circle:hover {
    fill: red;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 120px;
    min-height: 36px;
    padding: 2px;
    background: lightsteelblue;
    border: 0;
    border-radius: 2px;
    pointer-events: none;
}

.bar, .circle, .slice {
    cursor: pointer;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.line, .area {
    fill: steelblue;
}