/* Main style */
body {
    padding-bottom: 50px;
}
body.documentlist .main-navbar {
    margin-bottom: 0;
    z-index: 1000;
    border: none;
}
.navbar ul.breadcrumbs {
    margin-left: 0;
    padding-left: 0;
}
.navbar ul.breadcrumbs li {
    display: inline;
}
.navbar ul.breadcrumbs a {
    color: white;
}
.navbar ul.breadcrumbs li:before {
    content: ">";
    margin-right: 5px;
    color: white;
}
.navbar ul.breadcrumbs li:first-child:before {
    content: "";
}
.navbar .site-header a {
  color: #999999;
  text-align: center;
  display: block;
}
body.fullwidth > .container,
.navbar > .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.last-button {
    margin-left: 15px;
}
.navbar-left {
    margin-right: 10px;
}
.btn.navbar-left {
    margin-right: 5px;
}
.date-error {
    color: #B94A48;
}
.additional-navbar {
    z-index: 500;
    background: #fff;
}
.additional-navbar .navbar-text {
    margin-left: 0;
}
div.dropdown-form {
    padding: 15px;
    min-width: 480px;
}
body > .container > .messages {
    margin-top: 15px;
    padding-left: 0;
}
body > .container > .messages li {
    list-style-type: none;
}
#back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
#back-to-top a {
    padding: 3px;
    border-top: 3px solid #666;
    color: #666;
}

/* Form rendering */
.form-horizontal label {
    text-align: right;
}
.form-horizontal table .control-group {
    margin: 10px 35px;
}
.form-horizontal .controls {
    margin-left: 0;
}
form.form-horizontal textarea {
    height: inherit !important;
}
.btn-block {
    margin-bottom: 15px;
}
form div.alert-danger ul {
    margin: 0;
    padding: 0;
}
form div.alert-danger ul li {
    list-style-type: none;
}

/* Table rendering */
body > .container > h2 {
    margin-top: 0;
}
#document-list-row,
#review-list-row {
    /* Watch out, the following lines are PURE MAGIC!!! */
    position: fixed;
    top: 120px; /* Because of the two navbars */
    bottom: 0;
    left: 15px;
    right: 15px;
    max-height: 100%;
    overflow: auto;
}
#review-list-row {
    top: 60px;
}
#main-table {
}
#main-table thead th {
    background-color: #f0f0f0;
}
#main-table th,
#main-table td {
    white-space: nowrap;
}
tr.selected {
    background-color: #f0f0f0;
}
.table th {
    text-align: center;
}
.table tbody th {
    vertical-align: middle !important;
}
.table-centered th, .table-centered td {
    text-align: center;
}

/* Related documents and multiselect */
.document-list {
    width: 100%;
    margin-left: 0;
    max-height: 125px;
    overflow-y: auto;
}
button.ui-multiselect {
    color: #000;
    font-weight: normal;
    width: 50%;
}
.ui-multiselect-filter, .ui-multiselect-filter input {
    font-size: 1em;
}
.ui-multiselect-checkboxes label {
    text-align: left;
}
.ui-multiselect-checkboxes label input {
    top: -3px;
    margin-right: 5px;
}

/* Datatables custom */
#main-table table thead th {
    white-space: nowrap;
}
#main-table table th, #main-table table td {
    text-align: center;
}
#main-table table td.columntitle {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main-table table tbody td:not(.columnselect):not(.columnfavorite) {
    font-size: 11px;
    cursor: pointer;
}
#main-table table tbody td.columnfavorite span {
    cursor: pointer;
}
#main-table table tbody td.document-number {
    white-space: nowrap;
}

#documents-template {
    display: none;
}

#documents-pagination {
    margin-bottom: 15px;
    text-align: center;
    display: none;
}

/* columns width */
#columnselect {
    width: 15px;
}
#columnfavorite {
    width: 15px;
}
#documents .columnselect input[type="checkbox"] {
    vertical-align: top;
}
#documents th:not(#columnselect):not(#columnfavorite) {
    cursor: pointer;
}
#documents .docnumber {
    padding-left: 5px;
}
#documents select {
    width: auto;
}
#documents th, #documents td {
    vertical-align: middle;
}
#documents td a {
    text-decoration: inherit;
    color: inherit;
}

/* Table filters */
#table-filters {
    margin-top: 20px;
}
.sidebar-form legend {
    border: none;
    padding: 0;
    text-align: center;
    display: inline-block;
}
.sidebar-form .control-label,
.sidebar-form .control-group {
    text-align: center;
}
.sidebar-form .control-group {
    margin-bottom: 10px;
}
.sidebar-form .controls {
    vertical-align: middle;
}
.sidebar-form .control-group .controls > select,
.sidebar-form .control-group .controls > input {
    display: table-cell;
    width: 85%;
    margin-bottom: 0;
    padding: 2px 1px;
}
.sidebar-form .control-group .controls > input {
    width: 85%; /* bottstrap enlarges input with margin and padding */
}
.sidebar-form .control-group .controls > span {
    margin: 2px 0 0 2px;
    display: none;
    cursor: pointer;
}
.sidebar-form label {
    margin-bottom: 2px;
}
.sidebar-form select, #filters select {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.sidebar-form input[type="text"] {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.sidebar-form select,
.sidebar-form input[type="text"] {
}


/* document details */
.nav-tabs {
    margin-bottom: 15px;
}
#form-schedule-table tbody td {
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 20px;
}
#document-sidebar {
}
#document-sidebar ul {
    text-align: right;
    margin: 0;
    padding: 0 20px 0 0;
    list-style-type: none;
    border-right: 1px solid #e5e5e5;
}
#document-sidebar ul li {
    display: block;
    padding: 3px 0;
}
#document-sidebar ul a {
    color: #999;
    text-decoration: none;
}
#document-sidebar ul li.active a,
#document-sidebar ul a:hover {
    color: inherit;
}
#document-sidebar ul a:hover {
    background-color: white;
}
form.disabled #form-schedule-table input.dateinput {
    text-align: center;
}
form.disabled .controls {
    overflow: hidden;
}
form.disabled div.input-group.date .input-group-addon {
    display: none;
}
form.disabled .fileinput .clear,
form.disabled .fileinput .change,
form.disabled input[type="file"],
form.disabled .help-block {
    display: none;
}
div.control-label {
    font-weight: bold;
    margin-bottom: 5px;
}
.asteriskField {
    color: #ff1133;
    margin-left: 7px;
}
form.disabled .asteriskField {
    display: none;
}
td.center {
    text-align: center;
}
td.alignright {
    text-align: right;
}

/* Review form */
table.reviewers tr td:nth-child(4) {
    width: 1px;
}

/* Off canvas sidebar */
.sidebar {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 1050;
    width: 450px;
    padding: 0px;
}
#left-sidebar {
    left: 0;
}
#right-sidebar {
    right: 0;
    height: 100%;
}
.sidebar hr {
    margin: 5px 0 10px 0;
    padding: 0;
}
.sidebar > span {
    text-align: right;
    display: block;
    padding: 5px;
    background-color: #428BCA;
    height: 51px;
}
.sidebar > span button {
    border: none;
    color: white;
    background-color: inherit;
    font-size: 25px;
}
#sidebar-nav > li > a{
    color: inherit;
}
#sidebar-nav li.active > a{
  background-color: #eeeeee;
  border-color: #428bca;
}
#sidebar-nav li li a {
    padding-left: 20px;
}
.sidebar .notifications {
    padding: 15px;
    position: fixed;
    overflow-y: auto;
    max-height: 100%;
    top: 51px;
    bottom: 0;
}
.notifications .notification {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.notifications ul {
    padding-left: 25px;
    list-style-type: square;
}
.notifications time {
    display: block;
    color: #666;
    font-size: 90%;
}
.sidebar-offcanvas {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: white;
    z-index: 9999;
    display: none;
    width: 350px;
}
.sidebar-offcanvas .offcanvas-wrapper {
    position: fixed;
    right: 0;
    top: 0px;
    width: 16.67%;
    bottom: 0;
    overflow-y: auto;
    width: 350px;
}
.sidebar-offcanvas.active {
    display: block;
    top: 0;
    border-left: 1px solid #e7e7e7;
    -moz-box-shadow: -8px 0 5px -1px #666;
    -webkit-box-shadow: -8px 0 5px -1px #666;
    box-shadow: -8px 0 5px -1px #666;
}

/* Signin */
.central-form {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.form-group .alert {
    padding: 8px 15px;
    margin-top: 8px;
}

/* Discussions */
.discussion-item {
    margin-bottom: 20px;
}
.discussion-body {
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.discussion-body span.mention {
    background-color: #ccc;
}
