/* Main style */
body {
    padding-top: 51px; /* Because of the fixed top navbar */
    padding-bottom: 50px;
}
body > .container,
.navbar > .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.last-button {
    margin-left: 15px;
}
.date-error {
    color: #B94A48;
}
.navbar-fixed-almost-top {
    position: fixed;
    top: 51px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    margin-bottom: 0px;
    background: #fff;
}
.navbar-fixed-almost-top .navbar-text {
    margin-left: 0;
}
#download-button {
    margin-right: 15px;
}
body > .container > .messages {
    margin-top: 15px;
}


/* Form rendering */
.form-horizontal label {
    text-align: right;
}
.form-horizontal table .control-group {
    margin: 10px 35px;
}
.form-horizontal .controls {
    margin-left: 0;
}
form.form-horizontal textarea {
    height: inherit !important;
}
.btn-block {
    margin-bottom: 15px;
}

/* Table rendering */
tr.selected {
    background-color: #f0f0f0;
}
.table th {
    text-align: center;
}
.table tbody th {
    vertical-align: middle !important;
}
.table-centered th, .table-centered td {
    text-align: center;
}

/* Related documents and multiselect */
.document-list {
    width: 100%;
    margin-left: 0;
    max-height: 125px;
    overflow-y: auto;
}
button.ui-multiselect {
    color: #000;
    font-weight: normal;
    width: 50%;
}
.ui-multiselect-filter, .ui-multiselect-filter input {
    font-size: 1em;
}
.ui-multiselect-checkboxes label {
    text-align: left;
}
.ui-multiselect-checkboxes label input {
    top: -3px;
    margin-right: 5px;
}

/* Datatables custom */
#document-list-row {
    margin-top: 71px; /* Because of the second navbar */
}
#documents {
    margin-left: 0;
    margin-bottom: 0;
}
#documents thead th {
    white-space: nowrap;
}
#documents th, #documents td {
    text-align: center;
}
#documents td.columntitle {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
#documents tbody td:not(.columnselect):not(.columnfavorite),
#documents tbody td.columnfavorite i {
    font-size: 11px;
    cursor: pointer;
}
#documents tbody td.document-number {
    white-space: nowrap;
}

#documents-template {
    display: none;
}

.pagination {
    margin: 0;
}
.pagination ul {
    width: 100%;
    margin: 0;
    display: block;
}
.pagination li {
    display: block;
    list-style: none;
}
.pagination ul > li > a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

/* columns width */
#columnselect {
    width: 15px;
}
#columnfavorite {
    width: 15px;
}
#columndocument_key {
    width: 200px;
}
#columncurrent_revision {
    width: 50px;
}
#columncurrent_revision_date {
    width: 90px;
}
#columnstatus {
    width: 70px;
}
#documents .columnselect input[type="checkbox"] {
    vertical-align: top;
}
#documents th:not(#columnselect):not(#columnfavorite) {
    cursor: pointer;
}
#documents .docnumber {
    padding-left: 5px;
}
#documents select {
    width: auto;
}
#documents th, #documents td {
    vertical-align: middle;
}

/* Table filters */
#table-filters legend {
    border: none;
    padding: 0;
    text-align: center;
    display: inline-block;
}
#table-filters .control-label,
#table-filters .control-group {
    text-align: center;
}
#table-filters #controls-rows {
}
#table-filters .control-group {
    margin-bottom: 10px;
}
#table-filters .controls {
    vertical-align: middle;
}
#table-filters .control-group .controls > select,
#table-filters .control-group .controls > input {
    display: table-cell;
    width: 85%;
    margin-bottom: 0;
    padding: 2px 1px;
}
#table-filters .control-group .controls > input {
    width: 85%; /* bottstrap enlarges input with margin and padding */
}
#table-filters .control-group .controls > i {
    margin: 2px 0 0 2px;
    display: none;
}
#table-filters label {
    margin-bottom: 2px;
}
#table-filters select, #filters select {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
#table-filters input[type="text"] {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
#table-filters select,
#table-filters input[type="text"] {
}


/* document details */
.nav-tabs {
    margin-bottom: 15px;
}
#form-schedule-table tbody td {
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 20px;
}

/* left nav */
.leftnav {
    top: 40px;
    width: 258px;
    margin: 30px 0px 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
.leftnav > li:first-child > a {
    border-radius: 6px 6px 0px 0px;
}
.leftnav > li:last-child > a {
    border-radius: 0px 0px 6px 6px;
}
.leftnav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0px none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1) inset, -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.leftnav > li > a {
    display: block;
    margin: 0px 0px -1px;
    padding: 8px 14px;
    border: 1px solid rgb(229, 229, 229);
}
.leftnav .active .icon-chevron-right, .leftnav .active a:hover .icon-chevron-right {
    opacity: 1;
}
.leftnav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: 0.25;
}

/* Off canvas sidebar */
.row-offcanvas .sidebar-offcanvas {
    position: fixed;
    display: block;
    right: 0;
    top: 102px;
    bottom: 0;
    padding-top: 15px;
    width: 16.67%;  /* 2 columns */
    background-color: white;
    z-index: 9999;
}
.row-offcanvas #controls-rows {
    position: fixed;
    right: 0;
    top: 170px;
    width: 16.67%;
    bottom: 0;
    overflow-y: auto;
}

.row-offcanvas {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.row-offcanvas .sidebar-offcanvas {
    display: none;
    width: 350px;
}
.row-offcanvas #controls-rows {
    width: 350px;
}
.row-offcanvas.active .sidebar-offcanvas {
    display: block;
    top: 0;
    border-left: 1px solid #e7e7e7;
    -moz-box-shadow: -8px 0 5px -1px #666;
    -webkit-box-shadow: -8px 0 5px -1px #666;
    box-shadow: -8px 0 5px -1px #666;
}
.row-offcanvas.active #controls-rows {
    display: block;
    top: 70px;
}

/* Signin */
.central-form {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.form-group .alert {
    padding: 8px 15px;
    margin-top: 8px;
}
