/* Main style */
body {
    padding-top: 40px; /* 40px to make the container touch the topbar */
}
.last-button {
    margin-left: 15px;
}


/* Form rendering */
.form-horizontal label {
    text-align: right;
}
.form-horizontal .form-actions {
    padding-left: 20px;
}
.form-horizontal table .control-group {
    margin: 10px 35px;
}

/* Table rendering */
tr.selected {
    background-color: #f0f0f0;
}
td.row-title, .table th {
    text-align: center;
}
td.row-title {
    font-weight: bold;
    padding-top: 20px;
}
.table-centered th, .table-centered td {
    text-align: center;
}

/* Errors */
.date-error {
    color: #B94A48;
}

/* Sidebar */
#sidebar {
    background: #F9F9F9;
    margin-left: 1%;
    padding: 0 .5%; /* deal with borders: 18=20-1px*2 */
    border: 1px solid #E5E5E5;
    border-top: none;
    border-radius: 4px 4px 4px 4px;
}
#resetForm {
    margin: 0 0 5px 35px;
}

/* Related documents and multiselect */
.document-list {
    width: 100%;
    margin-left: 0;
    max-height: 125px;
    overflow-y: auto;
}
#id_related_documents {
    width: 500px;
}
button.ui-multiselect {
    color: #000;
    font-weight: normal;
}
.ui-multiselect-filter, .ui-multiselect-filter input {
    font-size: 1em;
}
.ui-multiselect-checkboxes label {
    text-align: left;
}
.ui-multiselect-checkboxes label input {
    top: -3px;
    margin-right: 5px;
}

/* Datatables custom */
#documents {
    margin-left: 0;
    margin-top: 80px;
    margin-bottom: 15px !important;
}
#documents thead#titles th {
    padding-right: 15px;
}
#documents th, #documents td {
    text-align: center;
}
#documents td.columntitle {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#documents tbody td:not(.columnselect):not(.columnfavorite),
#documents tbody td.favorite i {
    font-size: 11px;
    cursor: pointer;
}

/* columns width */
#columnselect {
    width: 15px;
}
#columnfavorite {
    width: 15px;
}
#columndocument_number {
    width: 200px;
}
#columncurrent_revision {
    width: 15px;
}
#columncurrent_revision_date {
    width: 80px;
}
#columnstatus {
    width: 20px;
}
#documents .columnselect input[type="checkbox"] {
    vertical-align: top;
}

#documents .docnumber {
    padding-left: 5px;
}
#documents select {
    width: auto;
}
#documents #filterByColumnLabel {
    text-align: right;
}
#select_all {
    display: inline-block;
    vertical-align: middle;
}
label[for="select-all"] {
    vertical-align: middle;
    display: inline-block;
    margin: 5px 0 0;
}
#documents th, #documents td {
    vertical-align: middle;
}
#documents .sorting_1 {
    text-align: left;
}

/* Table controls */
#table-controls {
    margin: 10px 0 15px 0;
    border: 1px solid #E5E5E5;
    position: fixed;
    background: #fff;
    width: 97.7%;
    border-radius: 4px 4px 4px 4px;
}
#table-controls #id_ids {
    display: none;
}
#table-controls ul {
    display: inline;
}
#table-controls li {
    list-style: none;
    display: inline-block;
}
#table-controls input[type="submit"], #table-controls button {
    vertical-align: top;
}

/* Sidebar */
#sidebar {
    background: #F9F9F9;
    margin-right: 0.5%;
    margin-top: 80px;
    right: 0;
    padding: 0 .5%; /* deal with borders: 18=20-1px*2 */
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    position: fixed;
    overflow-y: auto;
    height: 85%;
    width: 16%;
}
#resetForm {
    margin: 0 0 5px 35px;
}

/* Table filters */
#table-filters legend {
    width: auto;
}
#table-filters .control-group {
    margin-bottom: 10px;
}
#table-filters .controls {
    vertical-align: middle;
}
#table-filters .control-group .controls > select,
#table-filters .control-group .controls > input {
    display: table-cell;
    width: 85%;
    margin-bottom: 0;
}
#table-filters .control-group .controls > input {
    width: 77%; /* bottstrap enlarges input with margin and padding */
}
#table-filters .control-group .controls > i {
    display: table-cell;
    width: 10%;
    margin-top: 2px;
    display: none;
}
#table-filters label {
    margin-bottom: 2px;
}
#table-filters select, #filters select {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
#table-filters input[type="text"] {
    font-size: 12px;
    height: 15px;
    line-height: 15px;
}


/* document details */
#document-edit input[type="text"],
#document-edit select,
#document-edit textarea,
#document-detail input[type="text"],
#document-detail select,
#document-detail textarea {
    width: 80%;
}
