<div class="fileinput">
    {% if widget.is_initial %}
        <a href="{{ file_url }}">{{ file_name }}</a>
        {% if not widget.required %}
        <div class="clear">
            <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" />
            <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
        {% endif %}
    {% endif %}
    <div class="change">
        {% if widget.is_initial %}
            {{ widget.input_text }}:
        {% endif %}
        <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} />
    </div>
</div>
