<div class="navbar additional-navbar navbar-default navbar-static-top" id="table-controls">
<div class="container-fluid">

    <form class="navbar-form navbar-left">
        <button class="btn btn-primary" style="margin-left: -15px">
            <span class="glyphicon glyphicon-download"></span>
            Download all files
        </button>
    </form>

    <form class="navbar-form navbar-right">
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
            Import the transmittal
        </button>&nbsp;

        <button class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
            Refuse import
        </button>
    </form>

</div>
</div>

