{% extends "base.html" %}
{% load compressed transmittals %}

{% block custombodyclass %}documentlist fullwidth{% endblock %}

{% block additional_navbar %}
    {% include 'transmittals/diff_navbar.html' %}
{% endblock %}

{% block content %}
<div id="main-table">
<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th id="columnselect"></th>
            <th class="smallcolumn"></th>
            <th class="smallcolumn">
                <span class="glyphicon glyphicon-ok"></span>
            </th>
            <th class="smallcolumn">
                <span class="glyphicon glyphicon-comment"></span>
            </th>
            <th id="columndocument_key">Document number</th>
            <th id="columntitle">Title</th>
            <th id="columnrevision">Rev.</th>
            <th id="columnstatus">Status</th>
            <th id="columnclass">Class</th>
            <th id="columnunit">Unit</th>
            <th id="columndiscipline">Discipline</th>
            <th id="columndocument_type">Document Type</th>
            <th id="columnrevision_date">Rev. date</th>
        </tr>
    </thead>

    <tbody>
    {% for revision in revisions %}
        <tr class="document_row">
            <td><input type="checkbox" /></td>
            <td>{% isnew_label revision %}</td>
            <td><span class="glyphicon
                glyphicon-{{ revision.accepted|yesno:"ok,remove,empty" }}
            "></span></td>
            <td>{% if revision.comment %}
                <span class="glyphicon glyphicon-comment"
                      data-toggle="tooltip"
                      title="{{ revision.comment|truncatechars:50 }}"></span>
            {% endif %}</td>
            <td><a href="{{ revision.get_absolute_url }}">
                {{ revision.document_key }}
            </a></td>
            <td class="columntitle">{{ revision.title }}</td>
            <td>{{ revision.revision|stringformat:"02d" }}</td>
            <td>{{ revision.status }}</td>
            <td>{{ revision.docclass }}</td>
            <td>{{ revision.unit }}</td>
            <td>{{ revision.discipline }}</td>
            <td>{{ revision.document_type }}</td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

{% block extra_js %}
<script>
$(function() {
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
