<div class="navbar additional-navbar navbar-default navbar-static-top" id="table-controls">
<div class="container-fluid">

    <form class="navbar-form navbar-left">
        <button class="btn btn-primary" disabled="disabled" style="margin-left: -15px">
            <span class="glyphicon glyphicon-download"></span>
            Download
        </button>
    </form>

    <form class="navbar-form navbar-right" action="" method="post">
        {% csrf_token %}
        <button disabled="disabled" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
            Import the transmittal
        </button>&nbsp;

        <button class="btn btn-danger" name="refuse" value="refuse">
            <span class="glyphicon glyphicon-remove"></span>
            Reject import
        </button>
    </form>

</div>
</div>

