<div class="navbar additional-navbar navbar-default navbar-static-top" id="table-controls">
<div class="container-fluid">

    <form id="download-form" class="navbar-form navbar-left" method="get"
        action="{% url 'transmittal_download' transmittal.pk transmittal.transmittal_key %}"
        style="padding-left: 0">
        <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="format" value="pdf" id="format_pdf" checked>PDF
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="format" value="native" id="format_native">Native
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="format" value="both" id="format_all">Both formats
                </label>
            </div>

            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-download"></span>
                Download selected documents
            </button>
        </div>
    </form>

    {% if transmital.status == 'tobechecked' %}
    <form class="navbar-form navbar-right" action="" method="post">
        {% csrf_token %}
        <button class="btn btn-success" name="action" value="accept">
            <span class="glyphicon glyphicon-ok"></span>
            Import the transmittal
        </button>&nbsp;

        <button class="btn btn-danger" name="action" value="reject">
            <span class="glyphicon glyphicon-remove"></span>
            Reject transmittal
        </button>
    </form>
    {% endif %}

</div>
</div>
