{% load valueslists transmittals %}

{% if perms.documents.can_control_document %}
<script id="create-transmittal-modal" type="text/x-underscore-template">
<form method="POST" action="#">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="create-transmittal-label">{{ _('Create transmittal') }}</h4>
        </div>
        <div class="modal-body">
            <p class="alert alert-info">{{ _('Create a new transmittal with the selected documents.') }}</p>
            <div class="form-group">
                <label for="recipient-select">{{ _('Recipient') }}</label>
                <select id="recipient-select" name="recipient" class="form-control">
                    {% for recipient in category.third_parties.all %}
                    <option value="{{ recipient.id }}">
                        {{ recipient }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="destination-category-select">{{ _('Destination Category') }}</label>
                {% get_outgoing_transmittal_categories organisation_slug as categories %}
                <select id="destination-category-select" name="destination_category" class="form-control">
                    {% for category in categories %}
                    <option value="{{ category.id }}">
                        {{ category }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="contract-number-select">{{ _('Contract Number') }}</label>
                <select id="contract-number-select" name="contract_number" class="form-control">
                    {% for contracts in category.contracts.all %}
                    <option value="{{ contracts.number }}">
                        {{ contracts.number }} - {{ contracts.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Back to document list') }}</button>
            <button
                type="submit"
                class="btn btn-primary">
                    {{ _('Create transmittal') }}
            </button>
        </div>
    </div>
</div>
<form>
</script>
{% endif %}
