{% extends "base.html" %}
{% load pipeline transmittals private %}

{% block custombodyclass %}fullwidth{% endblock %}

{% block content %}

<h1>{{ trs_revision }}</h1>


<div id="main-table" class="row">
    <div class="col-md-8">

        <p class="alert alert-info">
        {% if trs_revision.is_new_revision %}
        This revision does not exist and will be <strong>created</strong>.
        {% else %}
        This revision already exists and will be <strong>updated</strong>.
        {% endif %}
        </p>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Phase</th>
                    <th>Transmittal</th>
                </tr>
            </thead>

            <tbody>
            <tr class="{% diffclass 'document_key' %}">
                <th>Document number</th>
                <td>{{ revision.document_key }}</td>
                <td>{{ trs_revision.document_key }}</td>
            </tr>
            <tr class="{% diffclass 'title' %}">
                <th>Title</th>
                <td>{{ revision.title }}</td>
                <td>{{ trs_revision.title }}</td>
            </tr>
            <tr class="{% diffclass 'contract_number' %}">
                <th>Contract number</th>
                <td>{{ revision.contract_number }}</td>
                <td>{{ trs_revision.contract_number }}</td>
            </tr>
            <tr class="{% diffclass 'originator' %}">
                <th>Originator</th>
                <td>{{ revision.originator }}</td>
                <td>{{ trs_revision.originator }}</td>
            </tr>
            <tr class="{% diffclass 'unit' %}">
                <th>Unit</th>
                <td>{{ revision.unit }}</td>
                <td>{{ trs_revision.unit }}</td>
            </tr>
            <tr class="{% diffclass 'discipline' %}">
                <th>Discipline</th>
                <td>{{ revision.discipline }}</td>
                <td>{{ trs_revision.discipline }}</td>
            </tr>
            <tr class="{% diffclass 'document_type' %}">
                <th>Document type</th>
                <td>{{ revision.document_type }}</td>
                <td>{{ trs_revision.document_type }}</td>
            </tr>
            <tr class="{% diffclass 'sequential_number' %}">
                <th>Sequential number</th>
                <td>{{ revision.sequential_number }}</td>
                <td>{{ trs_revision.sequential_number }}</td>
            </tr>
            <tr class="{% diffclass 'revision' %}">
                <th>Revision</th>
                <td>{{ revision.revision|stringformat:"02d" }}</td>
                <td>{{ trs_revision.revision|stringformat:"02d" }}</td>
            </tr>
            <tr class="{% diffclass 'revision_date' %}">
                <th>Revision date</th>
                <td>{{ revision.revision_date }}</td>
                <td>{{ trs_revision.revision_date }}</td>
            </tr>
            <tr class="{% diffclass 'docclass' %}">
                <th>Class</th>
                <td>{{ revision.docclass }}</td>
                <td>{{ trs_revision.docclass }}</td>
            </tr>
            <tr class="{% diffclass 'status' %}">
                <th>Status</th>
                <td>{{ revision.status }}</td>
                <td>{{ trs_revision.status }}</td>
            </tr>
            <tr>
                <th>Pdf file</th>
                <td>{% private_link revision.pdf_file %}</td>
                <td>{% private_link trs_revision.pdf_file %}</td>
            </tr>
            <tr>
                <th>Native file</th>
                <td>{% private_link revision.native_file %}</td>
                <td>{% private_link trs_revision.native_file %}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <form method="post" action="" class="form-actions">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="comment" class="form-control" rows="5" placeholder="Leave an optional comment here"
                    >{{ trs_revision.comment|default_if_none:"" }}</textarea>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button name="accept" value="accept" class="btn btn-lg btn-success btn-block">
                        <span class="glyphicon glyphicon-ok"></span>
                        Accept changes
                    </button>
                </div>

                <div class="col-md-6">
                    <button name="refuse" value="refuse" class="btn btn-lg btn-danger btn-block">
                        <span class="glyphicon glyphicon-remove"></span>
                        Refuse changes
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
