{% extends "base.html" %}

{% block custombodyclass %}documentlist fullwidth{% endblock %}

{% block content %}
{% endblock %}
<div id="document-list-row" class="row"> <div id="main-table" class="col-xs-12">
    <table id="main-table" class="table table-striped table-condensed table-bordered table-hover table-centered">
        <thead>
            <tr>
                <th>Document Number</th>
                <th>Title</th>
                <th>Revision</th>
                <th>Status</th>
                <th>Discipline</th>
                <th>Due Date</th>
                <th>Return Code</th>
            </tr>
        </thead>
    </table>
</div> </div>
