{% extends 'base.html' %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ feed_url }}" />
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div id="alerts">
{% for alert in alerts %}
<div class="panel panel-default">
<div class="panel-heading">
    <a href="{{ alert.link }}">
        {{ alert.title }}
    </a> — <strong>{{ alert.pubdate|date }}</strong>
</div>
    <div class="panel-body">
        {{ alert.description }}
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
