<form id="bookmark-form" method="post" action="{% url 'bookmark-list' %}" class="form">
    <div class="modal fade" id="bookmark-modal" tabindex="-1" role="dialog" aria-labelledby="bookmark-modal-label" aria-hidden="true">
        <input type="hidden" name="url" value="" id="id_url"/>
        <input type="hidden" name="category" value="{{ category.id }}" >

        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Cancel') }}</span></button>
                    <h4 class="modal-title" id="bookmark-modal-label">Create bookmark</h4>
                </div>
                <div class="modal-body">
                    <label for="name">Bookmark name</label><br/>
                    <input type="text" name="name" id="id_name" class="form-control" autocomplete="off" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                    <button type="submit" class="btn btn-primary">{{ _('Save bookmark') }}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="delete-bookmark-form" method="delete" action="{% url 'bookmark-list' %}" class="form">
    <div class="modal fade" id="delete-bookmark-modal" tabindex="-1" role="dialog" aria-labelledby="delete-bookmark-modal-label" aria-hidden="true">
        <input type="hidden" name="url" value="" id="id_url"/>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
                    <h4 class="modal-title" id="delete-bookmark-modal-label">Delete bookmarks</h4>
                </div>
                <div class="modal-body">
                    <ul id="bookmark-list" class="list-group">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/template" id="tpl-bookmark-item">
    <%= name %>
    <button type="button" class="pull-right btn btn-default btn-xs">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</script>
