{% load i18n %}
Dear {{ user.username }},

<br />
<br />

Please note that the following documents are pending your review in Phase.

<br />
<br />

<table style="border:1px solid black; border-collapse: collapse;">
    <thead>
    <tr>
        <th style="border: solid 1px black;">Document number</th>
        <th style="border: solid 1px black;">Title</th>
        <th style="border: solid 1px black;">Rev.</th>
        <th style="border: solid 1px black;">Status</th>
        <th style="border: solid 1px black;">Role</th>
        <th style="border: solid 1px black;">Due date</th>
        <th style="border: solid 1px black;">Overdue</th>
    </tr>
    </thead>
    <tbody>
{% for review in reviews %}
<tr
    {% if review.is_overdue %}
        style="font-weight: bold;"
    {% endif %}>
    <td style="border: solid 1px black;">
        <a href="http://{{ site.domain }}{% url 'review_document' review.document.document_key %}">
        {{ review.document.document_key }}
        </a>
    </td>
    <td style="border: solid 1px black;">{{ review.document.title }}</td>
    <td style="border: solid 1px black;">{{ review.revision_name }}</td>
    <td style="border: solid 1px black;">{{ review.get_status_display }}</td>
    <td style="border: solid 1px black;">{{ review.get_role_display }}</td>
    <td style="border: solid 1px black;">{{ review.due_date|date:'SHORT_DATE_FORMAT' }}</td>
    <td style="border: solid 1px black;">
        {{ review.is_overdue|yesno:"Yes,No" }}
        {% if review.is_overdue %}
        {% blocktrans with review.days_of_delay as delay %}
            ({{ delay}} days)
        {% endblocktrans %}
        {% endif %}
    </td>
</tr>
{% endfor %}
    </tbody>
</table>

<br />
<br />

<a href="http://{{ site.domain }}{% url 'review_home' %}">
You can see the whole list here.
</a>

<br />
<br />

The Phase team.

