{% extends "base.html" %}
{% load compressed documents %}

{% block custombodyclass %}documentlist fullwidth{% endblock %}

{% block content %}
<div id="review-list-row" class="row">
    <div id="main-table" class="col-xs-12">
        <table id="documents" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>{{ _('Doc. number') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Revision') }}</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('Start date') }}</th>
                    <th>{{ _('Due date') }}</th>
                    <th>{{ _('Step') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for rev in revisions %}
            <tr data-document-key="{{ rev.document.document_key }}">
                <td class="columndocument_key">
                    <a href="{% url 'review_document' rev.document.document_key %}">{{ rev.document.document_key }}</a>
                </td>
                <td class="columntitle">
                    <a href="{% url 'review_document' rev.document.document_key %}">{{ rev.document.title }}</a>
                </td>
                <td class="columncurrent_revision">{{ rev.name }}</td>
                <td class="columnstatus">{{ rev.status }}</td>
                <td class="columnreview_start_date">{{ rev.review_start_date|stringify }}</td>
                <td class="columnreview_due_date">{{ rev.review_due_date|stringify }}</td>
                <td>{{ rev.current_review_step }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {% compressed_js "review_list" %}
    <script>
    var config = {
        detailUrl: "{% url "review_document" "documentNumber" %}",
    };
    </script>
{% endblock %}
