{% extends "base.html" %}
{% load compressed documents %}

{% block custombodyclass %}documentlist fullwidth{% endblock %}

{% block content %}
<div id="review-list-row" class="row">
    <div id="main-table" class="col-xs-12">
        <table id="documents" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>{{ _('Doc. number') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Revision') }}</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('Start date') }}</th>
                    <th>{{ _('Due date') }}</th>
                    <th>{{ _('Step') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for rev in revisions %}
            <tr>
                <td class="columndocument_key">{{ rev.document.document_key }}
                <td class="columntitle">{{ rev.document.title }}
                <td class="columncurrent_revision">{{ rev.revision|stringformat:"02d" }}
                <td class="columnstatus">{{ rev.status }}
                <td class="columnreview_start_date">{{ rev.review_start_date|stringify }}
                <td class="columnreview_due_date">{{ rev.review_due_date|stringify }}
                <td>{{ rev.current_step }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
