{% extends "base.html" %}
{% load compressed crispy_forms_tags documents document_forms review_form %}

{% block content %}
<div id="document-sidebar" class="hidden-xs col-sm-4 col-lg-3 col-lg-offset-1">
    <ul id="document-navigation"
        class="nav"
        data-spy="affix">
        <li><a href="#fieldset-general-information">General information</a></li>
        <li><a href="#fieldset-review-data">Review data</a></li>
        <li><a href="#fieldset-reviewers">Reviewers</a></li>
        <li><a href="#fieldset-your-comments">Your comments</a></li>
    </ul>
    </ul>
</div>
<div class="col-sm-8">
    <h1>{{ _('Review document') }}</h1>
    {{ form.errors }}

    <fieldset id="fieldset-general-information">
        <legend>{{ _('General information') }}</legend>

        <div class="form-group">
            <div class="control-label">{{ _('Document number') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.document.document_key }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Title') }}</div>
            <div class="controls">
                <p class="uneditable-input">{{ revision.document.title }}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Status') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.status }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Native file') }}</div>
            <div class="controls">
                <a href="{{ revision.native_file.url }}">{{ revision.native_file }}</a>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Pdf file') }}</div>
            <div class="controls">
                <a href="{{ revision.pdf_file.url }}">{{ revision.pdf_file }}</a>
            </div>
        </div>

    </fieldset>

    <fieldset id="fieldset-review-data">
        <legend>{{ _('Review data') }}</legend>

        <div class="form-group">
            <div class="control-label">{{ _('Review start date') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.review_start_date|stringify }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Review due date') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.review_due_date|stringify }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Review step') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.current_review_step }}</span>
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset-reviewers">
        <legend>{{ _('Reviewers') }}</legend>

        <table class="table ">

            {% for review in reviews %}
            <tr>
                <td>
                    <span title="Reviewer" class="glyphicon glyphicon-user"></span>
                    {{ review.reviewer }}
                </td>
                <td class="alignright">{{ review.reviewed_on|yesno:_('Completed,Pending') }}</td>
                <td class="alignright">{% file_link review.comments %}</td>
            </tr>
            {% endfor %}


            <tr>
                <td>
                    <span title="Leader" class="glyphicon glyphicon-eye-open"></span>
                    {{ revision.leader }}
                </td>
                <td class="alignright">{{ revision.leader_step_closed|yesno:_('Completed,Pending') }}</td>
                <td class="alignright">{% file_link revision.leader_comments %}</td>
            </tr>

            <tr>
                <td>
                    <span title="Approver" class="glyphicon glyphicon-thumbs-up"></span>
                    {{ revision.approver }}
                </td>
                <td class="alignright">{{ revision.revision_end_date|yesno:_('Completed,Pending') }}</td>
                <td class="alignright">{% file_link revision.approver_comments %}</td>
            </tr>

        </table>

    </fieldset>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset id="fieldset-your-comments">
            <legend>{{ _('Your comments') }}</legend>

            <div class="form-group">
                <label class="control-label">{{ _('Upload your comments') }}</label>
                <div class="controls">
                    {{ form.comments }}
                </div>
            </div>

        </fieldset>

        <hr />
        <input class="btn btn-primary pull-right"
               type="submit"
               name="review"
               value="{{ _('Finish review — without comments') }}" />
    </form>
</div>
{% endblock %}
