<li{% if reviews_active %} class="active"{% endif %}>
    <a href="#nav-reviews"
       id="review-link"
       data-toggle="collapse"
       data-parent="#sidebar-nav">
        <span class="glyphicon glyphicon-comment"></span>
        Review <b class="caret"></b>
    </a>

    <ul id="nav-reviews" class="nav nav-stacked collapse">
        <li>
            <a href="{% url 'priorities_review_document_list' %}">
                {{ _('Priorities') }}
                <span class="glyphicon glyphicon-fire"></span>
            </a>
        </li>
        <li>
            <a href="{% url 'reviewers_review_document_list' %}">
                {{ _('Reviewer') }}
            </a>
        </li>
        <li>
            <a href="{% url 'leader_review_document_list' %}">
                {{ _('Leader') }}
            </a>
        </li>
        <li>
            <a href="{% url 'approver_review_document_list' %}">
                {{ _('Approver') }}
            </a>
        </li>
    </ul>
</li>
