<li{% if reviews_active %} class="active"{% endif %}>
    <a href="#" id="review-link" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-comment"></span>
        Review <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a href="{% url 'reviewers_review_document_list' %}">
                {{ _('Reviewers') }}
            </a>
        </li>
        <li>
            <a href="{% url 'leader_review_document_list' %}">
                {{ _('Leader') }}
            </a>
        </li>
        <li>
            <a href="{% url 'approver_review_document_list' %}">
                {{ _('Approver') }}
            </a>
        </li>
    </ul>
</li>

