{% extends "base.html" %}
{% load compressed crispy_forms_tags document_forms %}

{% block content %}
<div id="document-sidebar" class="hidden-xs col-sm-4 col-lg-3 col-lg-offset-1">
    <ul id="document-navigation"
        class="nav"
        data-spy="affix">
        {% crispy_menu form form.helper %}
    </ul>
</div>
<div class="col-sm-8">
    <h1>{{ _('Review document') }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% crispy form form.helper %}
        <hr />
        <input type="submit" />
    </form>
</div>
{% endblock %}
