{% extends "base.html" %}
{% load compressed crispy_forms_tags documents document_forms review_form %}

{% block content %}
<div id="document-sidebar" class="hidden-xs col-sm-4 col-lg-3 col-lg-offset-1">
    <ul id="document-navigation"
        class="nav"
        data-spy="affix">
        {% crispy_menu form form.helper %}
    </ul>
</div>
<div class="col-sm-8">
    <h1>{{ _('Review document') }}</h1>

    <fieldset>
        <legend>{{ _('General information') }}</legend>

        <div class="form-group">
            <div class="control-label">{{ _('Document number') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.document.document_key }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Title') }}</div>
            <div class="controls">
                <p class="uneditable-input">{{ revision.document.title }}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Status') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.status }}</span>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>{{ _('Review data') }}</legend>

        <div class="form-group">
            <div class="control-label">{{ _('Review start date') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.review_start_date|stringify }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Review due date') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.review_due_date|stringify }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">{{ _('Review step') }}</div>
            <div class="controls">
                <span class="uneditable-input">{{ revision.current_review_step }}</span>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ _('Reviewers') }}</legend>

        <table class="table ">

            {% for reviewer in revision.reviewers.all %}
            <tr>
                <td></td>
                <td>{{ reviewer }}</td>
                <td></td>
            </tr>
            {% endfor %}


            <tr>
                <td class="center">{% yesno revision.leader_step_closed %}</td>
                <td>{{ revision.leader }}</td>
                <td>{{ revision.leader_comments }}</td>
            </tr>

            <tr>
                <td class="center">{% yesno revision.revision_end_date %}</td>
                <td>{{ revision.approver }}</td>
                <td>{{ revision.approver_comments }}</td>
            </tr>

        </table>

    </fieldset>

        <hr />
        <input type="submit" />
</div>
{% endblock %}
