{% load widget_tweaks crispy_forms_field %}
<form action="#"
      method="get"
      class="sidebar-form"
      id="table-filters">
<fieldset>
    <legend>
        <button type="reset" id="resetForm" class="btn btn-primary">Reset filters</button>
        &nbsp;
        <button type="button"
                id="sidebar-close-btn"
                class="btn btn-default"
                data-toggle="offcanvas">Close</button>
    </legend>
    <div id="controls-rows">
    {% for field in form.visible_fields %}
        <div class="form-group form-group-{{ field.name }}">
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="controls">
                    {% if field|is_checkbox %}
                        {{ field|add_class:"filter" }} <span class="glyphicon glyphicon-remove"></span>
                    {% else %}
                        {{ field|add_class:"form-control filter" }} <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </div>
                {% if field.errors %}<span class="help-inline">{{ field.errors.0 }}</span>{% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</fieldset>
</form>

